Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.62aacd75.iframe.bundle.js
  canary/carbon-web-components/main.62aacd75.iframe.bundle.js.map
  canary/carbon-web-components/main.f76a2d91.iframe.bundle.js
  canary/carbon-web-components/main.f76a2d91.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.f76a2d91.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(readmes): cleanup for v2 (#11088)
  docs/dotcom-v2-migration.md
  packages/web-components/README.md
  packages/web-components/docs/breaking-changes.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
Due: prettier --write

feat(masthead-v2): add masthead to document flow (#10998)
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-group-pictograms): screen reader issue fix (#11099)
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~4ef25755.7ce72177.iframe.bundle.js
  canary/web-components-experimental/main~4ef25755.7ce72177.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~4ef25755.ff80dc9d.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~4ef25755.7ce72177.iframe.bundle.js
  canary/web-components-rtl/main~4ef25755.7ce72177.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~4ef25755.ff80dc9d.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~4ef25755.7ce72177.iframe.bundle.js
  canary/web-components/main~4ef25755.7ce72177.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~4ef25755.ff80dc9d.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(sass): update style to use math.div
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-group): v2 style updates (#11007)
  packages/styles/scss/components/content-group/_content-group.scss
  packages/styles/scss/components/content-group/_index.scss
  packages/web-components/src/components/content-group/__stories__/content-group.stories.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/iframe.html
  v2/web-components-experimental/main~b2fb3b0a.3976e121.iframe.bundle.js
  v2/web-components-experimental/main~b2fb3b0a.e6b6cf32.iframe.bundle.js
  v2/web-components-experimental/main~b2fb3b0a.e6b6cf32.iframe.bundle.js.LICENSE.txt
  v2/web-components-experimental/project.json
  v2/web-components-react/iframe.html
  v2/web-components-react/main~f894b523.0309af8e.iframe.bundle.js
  v2/web-components-react/main~f894b523.e5c8dd0a.iframe.bundle.js
  v2/web-components-react/main~f894b523.e5c8dd0a.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/project.json
  v2/web-components-rtl/iframe.html
  v2/web-components-rtl/main~b2fb3b0a.3976e121.iframe.bundle.js
  v2/web-components-rtl/main~b2fb3b0a.e6b6cf32.iframe.bundle.js
  v2/web-components-rtl/main~b2fb3b0a.e6b6cf32.iframe.bundle.js.LICENSE.txt
  v2/web-components-rtl/project.json
  v2/web-components/iframe.html
  v2/web-components/main~b2fb3b0a.3976e121.iframe.bundle.js
  v2/web-components/main~b2fb3b0a.e6b6cf32.iframe.bundle.js
  v2/web-components/main~b2fb3b0a.e6b6cf32.iframe.bundle.js.LICENSE.txt
  v2/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(e2e): fix harness for e2e integration tests
  .yarn/cache/commander-npm-11.1.0-56e979613c-fd1a8557c6.zip
  packages/react/gulp-tasks/config.js
  packages/react/package.json
  packages/react/tests/e2e/build/build-examples.js
  packages/react/tests/e2e/build/replace-dependencies.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/replace-dependencies.js
  tasks/replace-dependencies.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged

chore(docs): update migration docs
  docs/dotcom-v2-migration.md
Due: prettier --write

fix(e2e): add quotes to paths to account for spaces in jenkins
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged

fix(e2e): fix to codeQL risk identified
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged

fix(e2e): revert codeQL risk fix
  packages/web-components/tests/e2e/build/build-examples.js
Due: prettier --write, yarn lint:license:staged

fix(masthead-contact): revert to hostlistener usage
  packages/web-components/src/components/masthead/masthead-contact.ts
Due: prettier --write, yarn lint:license:staged

test(carousel): update unit test snapshot
  packages/web-components/tests/snapshots/dds-carousel.md
Due: prettier --write

fix(masthead-contact): remove console logs
  packages/web-components/src/components/masthead/masthead-contact.ts
Due: prettier --write, yarn lint:license:staged

chore(gh): add automerge job for v1 branch
  .github/workflows/automerge-v1.yml
Due: none

feat(footer): v2 layout updates
  packages/styles/icons/svg/IBM-8bar-logo--h23-white.svg
  packages/styles/scss/components/footer/_footer-logo.scss
  packages/styles/scss/components/footer/_footer-nav-group.scss
  packages/styles/scss/components/footer/_footer-nav.scss
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_language-selector.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/styles/scss/components/footer/_locale-button.scss
  packages/styles/scss/components/locale-modal/_locale-modal.scss
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-logo.ts
  packages/web-components/src/components/footer/footer-nav.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/footer.ts
  packages/web-components/src/components/footer/legal-nav.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(e2e): fix harness for e2e integration tests (#11106)
  .yarn/cache/commander-npm-11.1.0-56e979613c-fd1a8557c6.zip
  packages/react/gulp-tasks/config.js
  packages/react/package.json
  packages/react/tests/e2e/build/build-examples.js
  packages/react/tests/e2e/build/replace-dependencies.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/tests/e2e/build/build-examples.js
  packages/web-components/tests/e2e/build/replace-dependencies.js
  tasks/replace-dependencies.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.9e2e68d37bda6ab0f2af.manager.bundle.js
  canary/web-components-experimental/main.e6a06adcbf4e3068be26.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.5a8a0d4f.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.6cf69729.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.6cf69729.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.b63ba5eedb2df68cbc75.manager.bundle.js
  canary/web-components-react/main.de25ec6cd6ba22c914c7.manager.bundle.js
  canary/web-components-react/main~c98f95f3.7a7ded26.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.7a7ded26.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.bebcc6ac.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.9e2e68d37bda6ab0f2af.manager.bundle.js
  canary/web-components-rtl/main.e6a06adcbf4e3068be26.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.5a8a0d4f.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.6cf69729.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.6cf69729.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.9e2e68d37bda6ab0f2af.manager.bundle.js
  canary/web-components/main.e6a06adcbf4e3068be26.manager.bundle.js
  canary/web-components/main~c98f95f3.5a8a0d4f.iframe.bundle.js
  canary/web-components/main~c98f95f3.6cf69729.iframe.bundle.js
  canary/web-components/main~c98f95f3.6cf69729.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(footer): try to use new locale changes
  packages/web-components/src/components/footer/footer-composite.ts
Due: prettier --write, yarn lint:license:staged

feat(global-styles): match primitive names to file names
  packages/carbon-web-components/src/globals/CarbonBase.ts
  packages/utilities/src/utilities/carbonStyles/carbonStyles.js
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/carousel/carousel.ts
Due: prettier --write, yarn lint:license:staged

feat(global-styles): contain functionality
  packages/carbon-web-components/src/globals/CarbonBase.ts
Due: prettier --write, yarn lint:license:staged

feat(global-styles): declare dependency
  packages/utilities/package.json
  yarn.lock
Due: none

fix(footer): locale click function
  packages/web-components/src/components/footer/footer-composite.ts
Due: prettier --write, yarn lint:license:staged

fix(Leadspace): dds-leadspace styling of slotted button group
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(gh): add automerge job for v1 branch (#11109)
  .github/workflows/automerge-v1.yml
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
