Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(docs): update component docs
  docs/dotcom-v2-migration.md
Due: prettier --write

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(docs): update v2 migration docs (#11107)
  docs/dotcom-v2-migration.md
Due: prettier --write

chore(sass): update style to use math.div (#11103)
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/project.json
  v2/web-components-react/project.json
  v2/web-components-rtl/project.json
  v2/web-components/project.json
Due: none

fix(footer): prefixes
  packages/styles/scss/components/footer/_footer.scss
  packages/styles/scss/components/footer/_legal-nav.scss
  packages/web-components/src/components/footer/legal-nav.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): address static/grid feedback
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card-group/card-group.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(dotcom shell): legal navigation label fix
  packages/web-components/src/components/footer/legal-nav.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(carousel): add xlg breakpoint page size
  packages/styles/scss/components/carousel/_carousel.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-cta): define thumbnail in card-cta
  packages/web-components/src/components/cta/card-cta.ts
Due: prettier --write, yarn lint:license:staged

docs(migration): add carousel
  docs/dotcom-v2-migration.md
Due: prettier --write

docs(carousel): update video card icons
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Due: prettier --write, yarn lint:license:staged

docs(carousel): combine carousel stories
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(image): reinclude card cta image styles
  packages/styles/scss/components/image/_image.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(carousel): replace deprecated `card-cta`
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(carousel): readme/examples
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.js
  packages/web-components/examples/codesandbox/components/carousel/cdn.html
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
Due: prettier --write, yarn lint:license:staged

fix(card): inject video card heading
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged

fix(carousel): update carousel page size
  packages/styles/scss/components/carousel/_carousel.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(carousel): sameheight functionality
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/carousel.ts
  packages/web-components/src/components/cta/card-cta.ts
Due: prettier --write, yarn lint:license:staged

fix(carousel): stories
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(carousel): update v2 styles and fix broken video cards (#11006)
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/carousel/_carousel.scss
  packages/styles/scss/components/image/_image.scss
  packages/web-components/examples/codesandbox/components-react/carousel/src/index.js
  packages/web-components/examples/codesandbox/components/carousel/cdn.html
  packages/web-components/examples/codesandbox/components/carousel/index.html
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/carousel/__stories__/README.stories.mdx
  packages/web-components/src/components/carousel/__stories__/README.stories.react.mdx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.react.tsx
  packages/web-components/src/components/carousel/__stories__/carousel.stories.ts
  packages/web-components/src/components/carousel/carousel.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

test(carousel): update unit tests to reference css logical props
  packages/web-components/src/components/carousel/__tests__/carousel.test.ts
Due: prettier --write, yarn lint:license:staged

fix(ui shell): ui shell mobile navigation issue fix
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.mdx
Due: none

fix(leadspace): add selector to oher instance
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tabs): remove overflow button conditional rendering check
  carbon-web-components/packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

fix(tabs): remove overflow button conditional rendering check
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

fix(tabs): add overflow button render method typedefs
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

fix(tabs): add overflow button render method typedefs
  carbon-web-components/packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

chore(types): update story types
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.react.tsx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/quote/__stories__/quote.stories.react.tsx
  packages/web-components/src/components/quote/__stories__/quote.stories.ts
Due: prettier --write, yarn lint:license:staged

feat(global-styles): minor cleanups
  packages/carbon-web-components/src/globals/CarbonBase.ts
  packages/web-components/src/components/button/button.ts
Due: prettier --write, yarn lint:license:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
