Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.9e61e541d8025d769dcc.manager.bundle.js
  canary/web-components-experimental/main.d75c23ffaab6cb3cc110.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.9b3841c9.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.b1edcb03.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.b1edcb03.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.20eeee1ecc65258e8cf6.manager.bundle.js
  canary/web-components-react/main.3937e6e9f0f2f611e039.manager.bundle.js
  canary/web-components-react/main~c98f95f3.98e8c4b1.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.ca909e94.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.ca909e94.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.0ef6e66ffad27025501e.manager.bundle.js
  canary/web-components-rtl/main.0ef6e66ffad27025501e.manager.bundle.js.LICENSE.txt
  canary/web-components-rtl/main.9cdf39fe502286163a91.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.9b3841c9.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.b1edcb03.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.b1edcb03.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.0ef6e66ffad27025501e.manager.bundle.js
  canary/web-components/main.0ef6e66ffad27025501e.manager.bundle.js.LICENSE.txt
  canary/web-components/main.9cdf39fe502286163a91.manager.bundle.js
  canary/web-components/main~c98f95f3.9b3841c9.iframe.bundle.js
  canary/web-components/main~c98f95f3.b1edcb03.iframe.bundle.js
  canary/web-components/main~c98f95f3.b1edcb03.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(toc): code style
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.20eeee1ecc65258e8cf6.manager.bundle.js
  next/web-components-react/main.3937e6e9f0f2f611e039.manager.bundle.js
  next/web-components-react/main~c98f95f3.98e8c4b1.iframe.bundle.js
  next/web-components-react/main~c98f95f3.ca909e94.iframe.bundle.js
  next/web-components-react/main~c98f95f3.ca909e94.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.0ef6e66ffad27025501e.manager.bundle.js
  next/web-components-rtl/main.0ef6e66ffad27025501e.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.9cdf39fe502286163a91.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.9b3841c9.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.b1edcb03.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.b1edcb03.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.0ef6e66ffad27025501e.manager.bundle.js
  next/web-components/main.0ef6e66ffad27025501e.manager.bundle.js.LICENSE.txt
  next/web-components/main.9cdf39fe502286163a91.manager.bundle.js
  next/web-components/main~c98f95f3.9b3841c9.iframe.bundle.js
  next/web-components/main~c98f95f3.b1edcb03.iframe.bundle.js
  next/web-components/main~c98f95f3.b1edcb03.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): update height on resize
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged

fix(card-in-card): eyebrow and focus
  packages/styles/scss/components/card-in-card/_card-in-card.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(filter): clean up button styles
  packages/styles/scss/components/filter-panel/_filter-panel.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace-search): added dual theming
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/web-components/src/components/leadspace-with-search/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.react.tsx
  packages/web-components/src/components/leadspace-with-search/__stories__/leadspace-with-search.stories.ts
  packages/web-components/src/components/leadspace-with-search/defs.ts
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): addressed feedback
  docs/cwc-v2-migration.md
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/styles/scss/components/leadspace/_tokens.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/globals/scss/themes.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

carbon component with China PIPL changes
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Due: prettier --write, yarn lint:license:staged

Fixed added preventFormSubmissionValue false when no legal
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

set callback NC_HIDDEN Value
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Due: prettier --write, yarn lint:license:staged

Added supportedLanguages
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

fixed ci check
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

Fixed rebase issue
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

Fixed legalTextError and Added showLegalNotice
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

Fixed when hideErrorMessage true and checked true hide show error
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

feat(content-group): style update for v2
  packages/styles/scss/components/content-group/_content-group.scss
  packages/web-components/src/components/content-group/__stories__/content-group.stories.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-group): style update for v2
  packages/web-components/src/components/content-group/content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(content-group): width update
  packages/styles/scss/components/content-group/_content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(yarn): run dedupe on project
  .yarn/cache/@babel-helper-create-class-features-plugin-npm-7.22.9-90b28a6ed8-6c2436d1a5.zip
  .yarn/cache/@babel-parser-npm-7.22.7-7fbdf28552-02209ddbd4.zip
  .yarn/cache/@carbon-icon-helpers-npm-10.42.1-99f87a5cc6-98981041d7.zip
  .yarn/cache/array.prototype.reduce-npm-1.0.5-161dafd7db-f44691395f.zip
  .yarn/cache/is-core-module-npm-2.11.0-70061e141a-f96fd490c6.zip
  .yarn/cache/object.getownpropertydescriptors-npm-2.1.6-6cf48de07f-7757ce0ef6.zip
  yarn.lock
Due: none

fix(pricing-table): cell items were being horizontally squished into the cell
  packages/styles/scss/components/pricing-table/_pricing-table.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(styles): update var interpolation errors
  packages/styles/scss/components/card-group/_card-group.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(autoprefixer): update browserlist
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): fix logo
  packages/web-components/src/components/masthead/masthead-logo.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): accurately describe observer
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged

feat(leadspace): updating to v2 (#10946)
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/README.stories.mdx
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.react.tsx
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/__tests__/leadspace.test.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/globals/scss/themes.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

fix(lightbox-media-viewer): add cdn link
  packages/web-components/tools/get-rollup-config.js
Due: prettier --write, yarn lint:license:staged

fix(leadspace): format
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-item-row): styles cleanup
  packages/styles/scss/components/content-item-row/_content-item-row.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leadspace): styles cleanup
  packages/styles/scss/components/leadspace/_leadspace.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pricing-table): replicanting the test that generated the issue in the stories
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): restore left nav borders
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(card-in-card): v2 updates (#10996)
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/card-in-card/_card-in-card.scss
  packages/styles/scss/components/card-in-card/_tokens.scss
  packages/styles/scss/components/card/_card.scss
  packages/styles/scss/components/leadspace/_leadspace.scss
  packages/web-components/.storybook/container.scss
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.react.tsx
  packages/web-components/src/components/card-in-card/__stories__/card-in-card.stories.ts
  packages/web-components/src/components/card-in-card/card-in-card.scss
  packages/web-components/src/components/card-in-card/card-in-card.ts
  packages/web-components/src/components/leadspace/__stories__/leadspace.stories.ts
  packages/web-components/src/components/leadspace/leadspace-heading.ts
  packages/web-components/src/components/leadspace/leadspace.scss
  packages/web-components/src/components/leadspace/leadspace.ts
  packages/web-components/src/globals/scss/themes.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

carbon component with China PIPL changes (#10987)
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Due: prettier --write, yarn lint:license:staged

fix(content-item-row): styles format
  packages/styles/scss/components/content-item-row/_content-item-row.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
