Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.2809338720888292c04a.manager.bundle.js
  next/web-components-react/main.79645ca0b63993645d42.manager.bundle.js
  next/web-components-react/main~c98f95f3.88c59e38.iframe.bundle.js
  next/web-components-react/main~c98f95f3.be82b035.iframe.bundle.js
  next/web-components-react/main~c98f95f3.be82b035.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.a72452e8ab70d72e2301.manager.bundle.js
  next/web-components-rtl/main.a72452e8ab70d72e2301.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.e05563d338df5ce88d5f.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.101c94b9.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.101c94b9.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.c64e7d04.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.a72452e8ab70d72e2301.manager.bundle.js
  next/web-components/main.a72452e8ab70d72e2301.manager.bundle.js.LICENSE.txt
  next/web-components/main.e05563d338df5ce88d5f.manager.bundle.js
  next/web-components/main~c98f95f3.101c94b9.iframe.bundle.js
  next/web-components/main~c98f95f3.101c94b9.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.c64e7d04.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(leaving-ibm): update body content padding (#10583)
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~1dad706a.576d95fd.iframe.bundle.js
  canary/web-components-experimental/main~1dad706a.bf7670fe.iframe.bundle.js
  canary/web-components-experimental/main~1dad706a.bf7670fe.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~1dad706a.d97b96aa.iframe.bundle.js
  canary/web-components-react/main~1dad706a.f54f1a6c.iframe.bundle.js
  canary/web-components-react/main~1dad706a.f54f1a6c.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~1dad706a.576d95fd.iframe.bundle.js
  canary/web-components-rtl/main~1dad706a.bf7670fe.iframe.bundle.js
  canary/web-components-rtl/main~1dad706a.bf7670fe.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~1dad706a.576d95fd.iframe.bundle.js
  canary/web-components/main~1dad706a.bf7670fe.iframe.bundle.js
  canary/web-components/main~1dad706a.bf7670fe.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deps): bump package version beta 5
  packages/carbon-web-components/package.json
Due: none

chore(deps): bump package version beta 5 (#10594)
  carbon-web-components/packages/carbon-web-components/package.json
Due: none

chore(deps): bump package version beta 5 (#10594)
  packages/carbon-web-components/package.json
Due: none

feat(pricing-table): support combined checkmark with copy (#10550)
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~32d7a632.0905b31a.iframe.bundle.js
  canary/web-components-experimental/main~32d7a632.0905b31a.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~32d7a632.dfdcf355.iframe.bundle.js
  canary/web-components-experimental/main~611938f3.3a1edc2f.iframe.bundle.js
  canary/web-components-experimental/main~611938f3.3a1edc2f.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~611938f3.62af828e.iframe.bundle.js
  canary/web-components-experimental/main~d908c35e.6dd038a7.iframe.bundle.js
  canary/web-components-experimental/main~d908c35e.c6bf1adf.iframe.bundle.js
  canary/web-components-experimental/main~d908c35e.c6bf1adf.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~a0cae88c.2560d367.iframe.bundle.js
  canary/web-components-react/main~a0cae88c.8f1ba87b.iframe.bundle.js
  canary/web-components-react/main~a0cae88c.8f1ba87b.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~32d7a632.0905b31a.iframe.bundle.js
  canary/web-components-rtl/main~32d7a632.0905b31a.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~32d7a632.dfdcf355.iframe.bundle.js
  canary/web-components-rtl/main~611938f3.3a1edc2f.iframe.bundle.js
  canary/web-components-rtl/main~611938f3.3a1edc2f.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~611938f3.62af828e.iframe.bundle.js
  canary/web-components-rtl/main~d908c35e.6dd038a7.iframe.bundle.js
  canary/web-components-rtl/main~d908c35e.c6bf1adf.iframe.bundle.js
  canary/web-components-rtl/main~d908c35e.c6bf1adf.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~32d7a632.0905b31a.iframe.bundle.js
  canary/web-components/main~32d7a632.0905b31a.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~32d7a632.dfdcf355.iframe.bundle.js
  canary/web-components/main~611938f3.3a1edc2f.iframe.bundle.js
  canary/web-components/main~611938f3.3a1edc2f.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~611938f3.62af828e.iframe.bundle.js
  canary/web-components/main~d908c35e.6dd038a7.iframe.bundle.js
  canary/web-components/main~d908c35e.c6bf1adf.iframe.bundle.js
  canary/web-components/main~d908c35e.c6bf1adf.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(pricing-table): support combined checkmark with copy (#10550) (#10595)
  packages/styles/scss/components/pricing-table/_pricing-table.scss
  packages/styles/scss/components/structured-list/_structured-list.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
  packages/web-components/src/components/structured-list/__stories__/structured-list.stories.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/main~a0cae88c.39f485be.iframe.bundle.js
  next/web-components-react/main~a0cae88c.ce39555a.iframe.bundle.js
  next/web-components-react/main~a0cae88c.ce39555a.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/main~32d7a632.7f5ca190.iframe.bundle.js
  next/web-components-rtl/main~32d7a632.7f5ca190.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~32d7a632.e70739fc.iframe.bundle.js
  next/web-components-rtl/main~611938f3.ae2dcf53.iframe.bundle.js
  next/web-components-rtl/main~611938f3.ae2dcf53.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~611938f3.f0d1659a.iframe.bundle.js
  next/web-components-rtl/main~d908c35e.a5c45c59.iframe.bundle.js
  next/web-components-rtl/main~d908c35e.a5c45c59.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~d908c35e.ad2bdbdd.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/main~32d7a632.7f5ca190.iframe.bundle.js
  next/web-components/main~32d7a632.7f5ca190.iframe.bundle.js.LICENSE.txt
  next/web-components/main~32d7a632.e70739fc.iframe.bundle.js
  next/web-components/main~611938f3.ae2dcf53.iframe.bundle.js
  next/web-components/main~611938f3.ae2dcf53.iframe.bundle.js.LICENSE.txt
  next/web-components/main~611938f3.f0d1659a.iframe.bundle.js
  next/web-components/main~d908c35e.a5c45c59.iframe.bundle.js
  next/web-components/main~d908c35e.a5c45c59.iframe.bundle.js.LICENSE.txt
  next/web-components/main~d908c35e.ad2bdbdd.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(release): publish
  carbon-web-components/packages/carbon-web-components/CHANGELOG.md
  carbon-web-components/packages/carbon-web-components/package.json
Due: prettier --write

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.17d4c35e.iframe.bundle.js
  next/carbon-web-components/main.17d4c35e.iframe.bundle.js.map
  next/carbon-web-components/main.5290344f.iframe.bundle.js
  next/carbon-web-components/main.5290344f.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.5290344f.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.23f9e7261abf9b710c67.manager.bundle.js
  next/web-components-react/main.79645ca0b63993645d42.manager.bundle.js
  next/web-components-react/main~c98f95f3.21655dc2.iframe.bundle.js
  next/web-components-react/main~c98f95f3.21655dc2.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.be82b035.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.164b1b8e8fac95eb2abe.manager.bundle.js
  next/web-components-rtl/main.164b1b8e8fac95eb2abe.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.a72452e8ab70d72e2301.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.101c94b9.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.2aeb886e.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.2aeb886e.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.164b1b8e8fac95eb2abe.manager.bundle.js
  next/web-components/main.164b1b8e8fac95eb2abe.manager.bundle.js.LICENSE.txt
  next/web-components/main.a72452e8ab70d72e2301.manager.bundle.js
  next/web-components/main~c98f95f3.101c94b9.iframe.bundle.js
  next/web-components/main~c98f95f3.2aeb886e.iframe.bundle.js
  next/web-components/main~c98f95f3.2aeb886e.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): Add selected styles to L1 (#10552)
  packages/styles/scss/components/masthead/_masthead-l1.scss
  packages/styles/scss/components/masthead/_masthead.scss
  packages/web-components/src/components/masthead/__stories__/links.ts
  packages/web-components/src/components/masthead/__stories__/masthead.stories.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(tabs): update exports
  packages/carbon-web-components/src/components/tabs/tab-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tab.ts
  packages/carbon-web-components/src/components/tabs/tabs-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tabs.ts
  packages/carbon-web-components/tests/spec/content-switcher_spec.ts
  packages/carbon-web-components/tests/spec/tabs_spec.ts
Due: prettier --write, yarn lint:license:staged

fix(tabs): update contained tabs styles
  packages/carbon-web-components/src/components/tabs/defs.ts
  packages/carbon-web-components/src/components/tabs/tabs-story.ts
  packages/carbon-web-components/src/components/tabs/tabs.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tabs): add show/hide logic for overflow buttons
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

feat(tabs): enable overflow button click
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

feat(tabs): add window resize handler
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

refactor(tabs): use button width const
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

refactor(tabs): remove unused styles and breakpoints
  packages/carbon-web-components/src/components/tabs/tabs.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(tabs): render scroll overflow buttons
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

feat(tabs): add tabslist scroll handler
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged

docs(tabs): update default and playground stories
  packages/carbon-web-components/src/components/tabs/tabs-story.scss
  packages/carbon-web-components/src/components/tabs/tabs-story.ts
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/carbon-web-components/tests/spec/tabs_spec.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(tabs): update story content
  packages/carbon-web-components/src/components/tabs/tabs-story.ts
Due: prettier --write, yarn lint:license:staged
