Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

fix(storybook): styles
  packages/web-components/.storybook/main.js
Due: prettier --write, yarn lint:license:staged

fix(notifications): fix styles for notifications
  .yarn/cache/sass-npm-1.40.1-05a602b8e9-09966a8f85.zip
  .yarn/cache/sass-npm-1.57.0-eb727ad787-fb6358b954.zip
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/notification-story.ts
  packages/carbon-web-components/src/components/notification/toast-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.ts
  yarn.lock
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(v11): update styles for textarea
  packages/carbon-web-components/src/components/textarea/textarea.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(element-registry): fix build errors
  packages/carbon-web-components/src/components/list/unordered-list.ts
Due: prettier --write, yarn lint:license:staged

chore(element-registry): fix build errors
  packages/web-components/src/components/masthead/masthead-logo.ts
Due: prettier --write, yarn lint:license:staged

fix(v11): update skip-to-content and structured-list
  packages/carbon-web-components/.storybook/container.ts
  packages/carbon-web-components/src/components/structured-list/structured-list-row.ts
Due: prettier --write, yarn lint:license:staged

fix(sass): update to latest
  packages/carbon-web-components/package.json
Due: none

fix(storybook): theme switcher
  packages/carbon-web-components/.storybook/_container.scss
  packages/carbon-web-components/.storybook/container.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(sb): add bgcolor to storybook content frame
  packages/carbon-web-components/.storybook/_container.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(git): update git and stylelint ignore files
  .gitignore
  .stylelintignore
Due: none

Update packages/carbon-web-components/src/components/accordion/accordion.scss
  packages/carbon-web-components/src/components/accordion/accordion.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/button/button.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/carbon-web-components/src/components/data-table/_table-sizes.scss
  packages/carbon-web-components/src/components/data-table/_table-sizes.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(component): update data-table v11 styles
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-expandable.scss
  packages/carbon-web-components/src/components/data-table/_table-sizes.scss
  packages/carbon-web-components/src/components/data-table/data-table-story.ts
  packages/carbon-web-components/src/components/data-table/data-table.scss
  packages/carbon-web-components/src/components/data-table/defs.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(component): fix content-switcher styles
  packages/carbon-web-components/src/components/content-switcher/content-switcher-story.ts
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(inline-loading): update v11 styles
  packages/carbon-web-components/src/components/inline-loading/inline-loading-story.ts
  packages/carbon-web-components/src/components/inline-loading/inline-loading.scss
  packages/carbon-web-components/src/components/inline-loading/inline-loading.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/_table-core.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
