Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~d9c00257.5b957232.iframe.bundle.js
  canary/web-components-experimental/main~d9c00257.78e46d52.iframe.bundle.js
  canary/web-components-experimental/main~d9c00257.78e46d52.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~07b0145a.5bd74131.iframe.bundle.js
  canary/web-components-react/main~07b0145a.7210c372.iframe.bundle.js
  canary/web-components-react/main~07b0145a.7210c372.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~d9c00257.5b957232.iframe.bundle.js
  canary/web-components-rtl/main~d9c00257.78e46d52.iframe.bundle.js
  canary/web-components-rtl/main~d9c00257.78e46d52.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~d9c00257.5b957232.iframe.bundle.js
  canary/web-components/main~d9c00257.78e46d52.iframe.bundle.js
  canary/web-components/main~d9c00257.78e46d52.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~51699ebf.c2de3279.iframe.bundle.js
  canary/react-experimental/main~51699ebf.e61e0e6f.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~51699ebf.3b8ee1cd.iframe.bundle.js
  canary/react-rtl/main~51699ebf.92027432.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~51699ebf.230f2593.iframe.bundle.js
  canary/react/main~51699ebf.b6596f16.iframe.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

fix(e2e): test
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): test2
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): always
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): brackets
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): failure
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): ranodm
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): back to all success
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): readd jobs
  .github/workflows/e2e-tests.yml
Due: none

Update packages/carbon-web-components/src/components/text-input/text-input-story.ts
  packages/carbon-web-components/src/components/text-input/text-input-story.ts
Due: prettier --write, yarn lint:license:staged

fix(e2e): test errors
  packages/react/tests/e2e-storybook/cypress/integration/Card/Card.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/cta/button-cta.e2e.js
Due: prettier --write, yarn lint:license:staged

fix(e2e): use always
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): failure instead
  .github/workflows/e2e-tests.yml
Due: none

feat(text-input): story edits
  packages/carbon-web-components/src/components/text-input/text-input-story.mdx
  packages/carbon-web-components/src/components/text-input/text-input-story.ts
  packages/carbon-web-components/tests/spec/text-input_spec.ts
Due: prettier --write, yarn lint:license:staged

chore(settings): update settings to v1.46.0
  packages/utilities/src/utilities/settings/settings.js
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/project.json
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~493df0b3.cc2bf27e.iframe.bundle.js
  canary/web-components-experimental/main~493df0b3.cc2bf27e.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~493df0b3.e0f0bdb1.iframe.bundle.js
  canary/web-components-experimental/main~eb50c575.8201d469.iframe.bundle.js
  canary/web-components-experimental/main~eb50c575.8201d469.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~eb50c575.957946c8.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~493df0b3.000653d4.iframe.bundle.js
  canary/web-components-react/main~493df0b3.df4b0fd1.iframe.bundle.js
  canary/web-components-react/main~493df0b3.df4b0fd1.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~eb50c575.1a3ff141.iframe.bundle.js
  canary/web-components-react/main~eb50c575.1a3ff141.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~eb50c575.659deca0.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~493df0b3.cc2bf27e.iframe.bundle.js
  canary/web-components-rtl/main~493df0b3.cc2bf27e.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~493df0b3.e0f0bdb1.iframe.bundle.js
  canary/web-components-rtl/main~eb50c575.8201d469.iframe.bundle.js
  canary/web-components-rtl/main~eb50c575.8201d469.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~eb50c575.957946c8.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~493df0b3.cc2bf27e.iframe.bundle.js
  canary/web-components/main~493df0b3.cc2bf27e.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~493df0b3.e0f0bdb1.iframe.bundle.js
  canary/web-components/main~eb50c575.8201d469.iframe.bundle.js
  canary/web-components/main~eb50c575.8201d469.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~eb50c575.957946c8.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~b8f0d581.96b928cd.iframe.bundle.js
  canary/react-experimental/main~b8f0d581.c59bc281.iframe.bundle.js
  canary/react-experimental/main~b8f0d581.c59bc281.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~b8f0d581.96b928cd.iframe.bundle.js
  canary/react-rtl/main~b8f0d581.c59bc281.iframe.bundle.js
  canary/react-rtl/main~b8f0d581.c59bc281.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~b8f0d581.2c15ccf0.iframe.bundle.js
  canary/react/main~b8f0d581.479f5b30.iframe.bundle.js
  canary/react/main~b8f0d581.479f5b30.iframe.bundle.js.LICENSE.txt
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy @carbon/web-components v2 beta to GitHub Pages
  beta/carbon-web-components-v2/iframe.html
  beta/carbon-web-components-v2/main.7555f991.iframe.bundle.js
  beta/carbon-web-components-v2/main.7555f991.iframe.bundle.js.LICENSE.txt
  beta/carbon-web-components-v2/main.7555f991.iframe.bundle.js.map
  beta/carbon-web-components-v2/main.831a1b78.iframe.bundle.js
  beta/carbon-web-components-v2/main.831a1b78.iframe.bundle.js.map
  beta/carbon-web-components-v2/project.json
Due: prettier --write, yarn lint:license:staged

fix(e2e): check for error file
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): remove parenthesis
  .github/workflows/e2e-tests.yml
Due: none

chore(release): publish
  carbon-web-components/packages/carbon-web-components/CHANGELOG.md
  carbon-web-components/packages/carbon-web-components/package.json
Due: prettier --write

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

chore(yarn): update yarn cache
  yarn.lock
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
