Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): hover styles for dropdown and multiselect
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-v2): prefer setting active on parent items only
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): rearrange logic to allow active titles
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): allow selecting top level l1 menu items
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

chore(format): all
  packages/carbon-web-components/src/components/data-table/data-table-story.ts
  packages/carbon-web-components/src/components/data-table/table-batch-actions.ts
  packages/carbon-web-components/src/components/data-table/table-expand-row.ts
  packages/carbon-web-components/src/components/list/list-item.ts
  packages/carbon-web-components/src/components/notification/actionable-notification.scss
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.scss
  packages/carbon-web-components/src/components/popover/popover.scss
  packages/carbon-web-components/src/components/progress-bar/progress-bar.scss
  packages/carbon-web-components/src/components/select/select.scss
  packages/carbon-web-components/src/components/structured-list/structured-list.ts
  packages/carbon-web-components/src/components/text-input/text-input.scss
  packages/carbon-web-components/src/components/textarea/textarea.scss
  packages/carbon-web-components/src/components/tile/tile.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(data-table): revert back
  packages/carbon-web-components/src/components/data-table/data-table-story.ts
  packages/carbon-web-components/src/components/data-table/table-batch-actions.ts
  packages/carbon-web-components/src/components/data-table/table-body.ts
  packages/carbon-web-components/src/components/data-table/table-cell-skeleton.ts
  packages/carbon-web-components/src/components/data-table/table-cell.ts
  packages/carbon-web-components/src/components/data-table/table-expand-row.ts
  packages/carbon-web-components/src/components/data-table/table-expanded-row.ts
  packages/carbon-web-components/src/components/data-table/table-head.ts
  packages/carbon-web-components/src/components/data-table/table-header-cell-skeleton.ts
  packages/carbon-web-components/src/components/data-table/table-header-cell.ts
  packages/carbon-web-components/src/components/data-table/table-header-expand-row.ts
  packages/carbon-web-components/src/components/data-table/table-header-row.ts
  packages/carbon-web-components/src/components/data-table/table-row.ts
  packages/carbon-web-components/src/components/data-table/table-toolbar-content.ts
  packages/carbon-web-components/src/components/data-table/table-toolbar-search.ts
  packages/carbon-web-components/src/components/data-table/table-toolbar.ts
  packages/carbon-web-components/src/components/data-table/table.ts
Due: prettier --write, yarn lint:license:staged

fix(data-table): revert back
  packages/carbon-web-components/tests/spec/data-table_spec.ts
Due: prettier --write, yarn lint:license:staged

fix(data-table): revert back
  packages/carbon-web-components/examples/codesandbox/data-table/src/demo-data-table.js
  packages/carbon-web-components/src/components/data-table/table-expand-row.ts
  packages/carbon-web-components/tests/spec/data-table_spec.ts
Due: prettier --write, yarn lint:license:staged

fix(tabs): revert back
  packages/carbon-web-components/src/components/tabs/tab-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tab.ts
  packages/carbon-web-components/src/components/tabs/tabs-skeleton.ts
  packages/carbon-web-components/src/components/tabs/tabs.scss
  packages/carbon-web-components/src/components/tabs/tabs.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(inline-loading): emit tokens
  packages/carbon-web-components/src/components/inline-loading/inline-loading.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(inline): add back @include
  packages/carbon-web-components/src/components/inline-loading/inline-loading.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deps): add @babel/plugin-proposal-private-property-in-object
  .yarn/cache/@babel-plugin-proposal-private-property-in-object-npm-7.12.13-a60a4f989f-469e7d45b5.zip
  packages/react/package.json
  yarn.lock
Due: none

fix(data-table): emit tokens
  packages/carbon-web-components/src/components/data-table/_table-core.scss
  packages/carbon-web-components/src/components/data-table/data-table.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(layer): remove unnessary import
  packages/carbon-web-components/src/components/accordion/accordion.scss
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/date-picker/date-picker.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/file-uploader/file-uploader.scss
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(node): update component exports
  packages/carbon-web-components/package.json
Due: none

chore(node): update component exports (#10582)
  carbon-web-components/packages/carbon-web-components/package.json
Due: none

chore(node): update component exports (#10582)
  packages/carbon-web-components/package.json
Due: none

Update button.scss
  packages/carbon-web-components/src/components/button/button.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(leaving-ibm): update body content padding
  packages/web-components/src/components/leaving-ibm/leaving-ibm.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(button): format scss
  packages/carbon-web-components/src/components/button/button.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): move scoped styles out and add layer import for contextual tokens (#10565)
  carbon-web-components/packages/carbon-web-components/src/components/accordion/accordion.scss
  carbon-web-components/packages/carbon-web-components/src/components/button/button.scss
  carbon-web-components/packages/carbon-web-components/src/components/checkbox/checkbox.scss
  carbon-web-components/packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  carbon-web-components/packages/carbon-web-components/src/components/combo-box/combo-box.scss
  carbon-web-components/packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  carbon-web-components/packages/carbon-web-components/src/components/copy-button/copy-button.scss
  carbon-web-components/packages/carbon-web-components/src/components/date-picker/date-picker.scss
  carbon-web-components/packages/carbon-web-components/src/components/dropdown/dropdown.scss
  carbon-web-components/packages/carbon-web-components/src/components/file-uploader/file-uploader.scss
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer.scss
  carbon-web-components/packages/carbon-web-components/src/components/modal/modal.scss
  carbon-web-components/packages/carbon-web-components/src/components/multi-select/multi-select.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): move scoped styles out and add layer import for contextual tokens (#10565)
  packages/carbon-web-components/src/components/accordion/accordion.scss
  packages/carbon-web-components/src/components/button/button.scss
  packages/carbon-web-components/src/components/checkbox/checkbox.scss
  packages/carbon-web-components/src/components/code-snippet/code-snippet.scss
  packages/carbon-web-components/src/components/combo-box/combo-box.scss
  packages/carbon-web-components/src/components/content-switcher/content-switcher.scss
  packages/carbon-web-components/src/components/copy-button/copy-button.scss
  packages/carbon-web-components/src/components/date-picker/date-picker.scss
  packages/carbon-web-components/src/components/dropdown/dropdown.scss
  packages/carbon-web-components/src/components/file-uploader/file-uploader.scss
  packages/carbon-web-components/src/components/layer/layer.scss
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/carbon-web-components/src/components/multi-select/multi-select.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

refactor(content-switcher): update import
  packages/carbon-web-components/src/components/content-switcher/content-switcher.ts
Due: prettier --write, yarn lint:license:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
