Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(doc): carbon-cdn-style-helper
  packages/carbon-web-components/.storybook/preview.ts
  packages/carbon-web-components/docs/carbon-cdn-style-helpers-story.mdx
Due: prettier --write, yarn lint:license:staged

chore(codesandbox): use parcel instead of webpack for basic csb
  packages/carbon-web-components/examples/codesandbox/basic/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/package.json
  packages/carbon-web-components/examples/codesandbox/basic/webpack.config.js
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/project.json
  v2/web-components-react/project.json
  v2/web-components-rtl/project.json
  v2/web-components/project.json
Due: none

fix(storybook): header theme
  packages/carbon-web-components/.storybook/manager.js
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/.storybook/theme.js
Due: prettier --write, yarn lint:license:staged

fix(storybook): header theme (#10877)
  packages/carbon-web-components/.storybook/manager.js
  packages/carbon-web-components/.storybook/preview.js
  packages/carbon-web-components/.storybook/theme.js
Due: prettier --write, yarn lint:license:staged

fix(storybook): header theme (#10877)
  carbon-web-components/packages/carbon-web-components/.storybook/manager.js
  carbon-web-components/packages/carbon-web-components/.storybook/preview.js
  carbon-web-components/packages/carbon-web-components/.storybook/theme.js
Due: prettier --write, yarn lint:license:staged

fix(lightbox-video-player): add multiple videos demo
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(lightbox-video-player): use correct player reference
  packages/web-components/src/components/lightbox-media-viewer/lightbox-video-player-composite.ts
Due: prettier --write, yarn lint:license:staged

fix(pricing-table) Also hide hidden component examples
  packages/web-components/.storybook/manager.js
Due: prettier --write, yarn lint:license:staged

fix(tabs-extented) ajust padding for nested componnents on tablet breakpoint
  packages/styles/scss/components/tabs-extended/_tabs-extended.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(lightbox-video-player): clean up new story
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

fix(feature-card): passing updated props
  packages/web-components/src/components/feature-card/feature-card-footer.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy @carbon/web-components v2 rc to GitHub Pages
  rc/carbon-web-components-v2/project.json
Due: none

fix(cta): added feature card story
  packages/web-components/src/components/button/button.ts
  packages/web-components/src/components/card/card.ts
  packages/web-components/src/components/feature-card/__stories__/feature-card.stories.ts
Due: prettier --write, yarn lint:license:staged

Update filter-panel-modal.ts
  packages/web-components/src/components/filter-panel/filter-panel-modal.ts
Due: prettier --write, yarn lint:license:staged

fix(masthead-a11y):navigation unique labels
  packages/react/src/components/Masthead/MastheadL1.js
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged

chore(publish): update version
  carbon-web-components/packages/carbon-web-components/package.json
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
