Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

feat(content-item): v2 updates
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/styles/scss/components/image/_image.scss
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/examples/codesandbox/components-react/content-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components-react/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components-react/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components-react/pictogram-item/src/index.js
  packages/web-components/examples/codesandbox/components-react/pictogram-item/webpack.config.js
  packages/web-components/examples/codesandbox/components/content-item/cdn.html
  packages/web-components/examples/codesandbox/components/content-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/.babelrc
  packages/web-components/examples/codesandbox/components/pictogram-item/.gitignore
  packages/web-components/examples/codesandbox/components/pictogram-item/.sassrc
  packages/web-components/examples/codesandbox/components/pictogram-item/cdn.html
  packages/web-components/examples/codesandbox/components/pictogram-item/index.html
  packages/web-components/examples/codesandbox/components/pictogram-item/package.json
  packages/web-components/examples/codesandbox/components/pictogram-item/sandbox.config.json
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.js
  packages/web-components/examples/codesandbox/components/pictogram-item/src/index.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-item/__stories__/README.stories.mdx
  packages/web-components/src/components/content-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-item/__stories__/content-item.stories.react.tsx
  packages/web-components/src/components/content-item/__stories__/content-item.stories.ts
  packages/web-components/src/components/content-item/content-item.scss
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/content-item/index.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.mdx
  packages/web-components/src/components/pictogram-item/__stories__/README.stories.react.mdx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.react.tsx
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.scss
  packages/web-components/src/components/pictogram-item/__stories__/pictogram-item.stories.ts
  packages/web-components/src/components/pictogram-item/__tests__/pictogram-item.test.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(dotcom-v2): migration
  docs/dotcom-v2-migration.md
Due: prettier --write

fix(content-item): format
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-item/content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(language-selector): remove internal decorator
  packages/carbon-web-components/src/components/input/input.ts
  packages/web-components/src/components/footer/combo-box.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
Due: prettier --write, yarn lint:license:staged

fix(language-selector): remove internal decorator (#11069)
  carbon-web-components/packages/carbon-web-components/src/components/input/input.ts
Due: prettier --write, yarn lint:license:staged

fix(language-selector): remove internal decorator (#11069)
  packages/carbon-web-components/src/components/input/input.ts
  packages/web-components/src/components/footer/combo-box.ts
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.33b89127.iframe.bundle.js
  canary/carbon-web-components/main.33b89127.iframe.bundle.js.map
  canary/carbon-web-components/main.b384f42c.iframe.bundle.js
  canary/carbon-web-components/main.b384f42c.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.b384f42c.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(scroll-animations): v2 updates (#11054)
  packages/web-components/examples/codesandbox/components-react/callout-quote/src/index.js
  packages/web-components/src/components/callout-quote/__stories__/README.stories.react.mdx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.react.tsx
  packages/web-components/src/components/callout-quote/__stories__/callout-quote.stories.ts
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.react.tsx
  packages/web-components/src/components/dotcom-shell/__stories__/data/content.ts
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.scss
  packages/web-components/src/components/scroll-animations/__stories__/scroll-animations.stories.ts
  packages/web-components/src/components/scroll-animations/scroll-animations.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-item): format
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/content-item/content-item.ts
  packages/web-components/src/components/cta-section/__stories__/cta-section.stories.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

fix(content): styles
  packages/styles/scss/internal/content-item/_content-item.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-item): updates
  packages/styles/scss/internal/content-item/_content-item.scss
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
  packages/web-components/src/components/cta-block/cta-block-item.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

10921: add aria-label to anchor tags inside bx-tabs for accessbility (#11047)
  carbon-web-components/packages/carbon-web-components/src/components/tabs/tab.ts
Due: prettier --write, yarn lint:license:staged

10921: add aria-label to anchor tags inside bx-tabs for accessbility (#11047)
  packages/carbon-web-components/src/components/tabs/tab.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.019621d8.iframe.bundle.js
  canary/carbon-web-components/main.019621d8.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.019621d8.iframe.bundle.js.map
  canary/carbon-web-components/main.b384f42c.iframe.bundle.js
  canary/carbon-web-components/main.b384f42c.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~227d378d.37034016.iframe.bundle.js
  canary/web-components-experimental/main~227d378d.37034016.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~227d378d.48089132.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.5903ead7.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.702c5f4f.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~227d378d.37034016.iframe.bundle.js
  canary/web-components-rtl/main~227d378d.37034016.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~227d378d.48089132.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.5903ead7.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.702c5f4f.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~227d378d.37034016.iframe.bundle.js
  canary/web-components/main~227d378d.37034016.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~227d378d.48089132.iframe.bundle.js
  canary/web-components/main~f075b844.5903ead7.iframe.bundle.js
  canary/web-components/main~f075b844.702c5f4f.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(masthead-a11y): navigation role do not have unique labels (#10881)
  packages/react/src/components/Masthead/MastheadL1.js
  packages/web-components/src/components/masthead/top-nav.ts
Due: prettier --write, yarn lint:license:staged

fix(video-player): move updateThumbnailUrl callback after updateComplete (#11067)
  packages/web-components/src/components/video-player/video-player.ts
Due: prettier --write, yarn lint:license:staged

fix(ui-shell): a11y issue with side nav item (#11044)
  packages/carbon-web-components/src/components/ui-shell/side-nav-menu-item.ts
  packages/web-components/tests/snapshots/dds-masthead-composite.md
Due: prettier --write, yarn lint:license:staged

[Filter panel]: Reduce Filter Panel DOM node counts (#11057)
  packages/styles/scss/components/filter-panel/_filter-panel.scss
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
  packages/web-components/src/components/filter-panel/filter-panel-input-select-item.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/filter-panel/filter-panel.e2e.js
  packages/web-components/tests/snapshots/dds-filter-panel-composite.md
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.2186ab6fc9c75151b452.manager.bundle.js
  canary/web-components-experimental/main.4d6b7aded61fd89e6317.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.75d8ec3d.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.75d8ec3d.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.768616b5e919662624a4.manager.bundle.js
  canary/web-components-react/main.effd9a964b3cc2eaf56e.manager.bundle.js
  canary/web-components-react/main~c98f95f3.32ddb766.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.32ddb766.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.808cc4e8.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-react/vendors~main~493df0b3.6f51079c.iframe.bundle.js
  canary/web-components-react/vendors~main~493df0b3.6f51079c.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/vendors~main~493df0b3.88c80fdf.iframe.bundle.js
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.2186ab6fc9c75151b452.manager.bundle.js
  canary/web-components-rtl/main.4d6b7aded61fd89e6317.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.75d8ec3d.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.75d8ec3d.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.2186ab6fc9c75151b452.manager.bundle.js
  canary/web-components/main.4d6b7aded61fd89e6317.manager.bundle.js
  canary/web-components/main~c98f95f3.75d8ec3d.iframe.bundle.js
  canary/web-components/main~c98f95f3.75d8ec3d.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(footer): fix grid alignment when disabling locale (#11028)
  packages/styles/scss/components/footer/_footer.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom
