Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

fix(storybook): resolve broken imports
  packages/carbon-web-components/src/components/tabs/tabs-story.scss
  packages/carbon-web-components/src/components/tooltip/tooltip-story.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tag-group): change default color setting
  packages/web-components/src/components/tag-group/tag-group.ts
Due: prettier --write, yarn lint:license:staged

fix(cwc): downgrade sass as there is bug with extend
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/modal/modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(sass): yarn lock file update
  .yarn/offline-mirror/sass-1.40.1.tgz
  .yarn/offline-mirror/sass-1.57.0.tgz
  yarn.lock
Due: none

fix(tabs-extended): safari hover
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(changelog): incorporate cwc into change log task
  tasks/get-changelog.js
Due: prettier --write, yarn lint:license:staged

fix(styles): downgrade sass version as there is an issue with @extend (#9973)
  .yarn/offline-mirror/sass-1.40.1.tgz
  .yarn/offline-mirror/sass-1.57.0.tgz
  packages/carbon-web-components/package.json
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/modal/modal.scss
  yarn.lock
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): downgrade sass version as there is an issue with @extend (#9973)
  carbon-web-components/packages/carbon-web-components/package.json
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  carbon-web-components/packages/carbon-web-components/src/components/modal/modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(changelog): incorporate cwc into change log task (#9975)
  tasks/get-changelog.js
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.341b1ad1.iframe.bundle.js
  next/carbon-web-components/main.341b1ad1.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.341b1ad1.iframe.bundle.js.map
  next/carbon-web-components/main.fc12acc9.iframe.bundle.js
  next/carbon-web-components/main.fc12acc9.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React next to GitHub Pages
  next/react-rtl/project.json
  next/react/project.json
Due: none

chore: add skip-to-content thumbnail for carbon-platform indexing
  packages/carbon-web-components/carbon.yml
  packages/carbon-web-components/thumbnails/skip-to-content.svg
Due: none

fix(content-block): spacing adjustments (#9819)
  packages/styles/scss/components/callout-with-media/_callout-with-media.scss
  packages/styles/scss/components/content-block-cards/_content-block-cards.scss
  packages/styles/scss/components/content-block-headlines/_content-block-headlines.scss
  packages/styles/scss/components/content-block-horizontal/_content-block-horizontal.scss
  packages/styles/scss/components/ctasection/_ctasection.scss
  packages/styles/scss/components/leadspace-block/_leadspace-block.scss
  packages/styles/scss/components/leadspace-with-search/_leadspace-with-search.scss
  packages/styles/scss/components/logo-grid/_logo-grid.scss
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/content-block-headlines/content-block-headlines.scss
  packages/web-components/src/components/content-block-horizontal/content-block-horizontal.scss
  packages/web-components/src/components/content-block-media/content-block-media.scss
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/leadspace-with-search/leadspace-with-search.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

chore(release): publish
  carbon-web-components/packages/carbon-web-components/CHANGELOG.md
  carbon-web-components/packages/carbon-web-components/package.json
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.32c845e4.iframe.bundle.js
  next/carbon-web-components/main.32c845e4.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.32c845e4.iframe.bundle.js.map
  next/carbon-web-components/main.341b1ad1.iframe.bundle.js
  next/carbon-web-components/main.341b1ad1.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.a173c7acabeaf376d570.manager.bundle.js
  next/web-components-react/main.fdc4ef0d77b7e6465cce.manager.bundle.js
  next/web-components-react/main~c98f95f3.88dff7b4.iframe.bundle.js
  next/web-components-react/main~c98f95f3.88dff7b4.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.c616fa66.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.c172c83e33037a38b856.manager.bundle.js
  next/web-components-rtl/main.c172c83e33037a38b856.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.edadcec7412bd366cb4e.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.30702db6.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.7848794e.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.7848794e.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.c172c83e33037a38b856.manager.bundle.js
  next/web-components/main.c172c83e33037a38b856.manager.bundle.js.LICENSE.txt
  next/web-components/main.edadcec7412bd366cb4e.manager.bundle.js
  next/web-components/main~c98f95f3.30702db6.iframe.bundle.js
  next/web-components/main~c98f95f3.7848794e.iframe.bundle.js
  next/web-components/main~c98f95f3.7848794e.iframe.bundle.js.LICENSE.txt
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.32c845e4.iframe.bundle.js
  next/carbon-web-components/main.32c845e4.iframe.bundle.js.map
  next/carbon-web-components/main.6565035f.iframe.bundle.js
  next/carbon-web-components/main.6565035f.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.6565035f.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.7c379a30ee5abe2d5247.manager.bundle.js
  next/web-components-react/main.fdc4ef0d77b7e6465cce.manager.bundle.js
  next/web-components-react/main~c98f95f3.88dff7b4.iframe.bundle.js
  next/web-components-react/main~c98f95f3.f013190e.iframe.bundle.js
  next/web-components-react/main~c98f95f3.f013190e.iframe.bundle.js.LICENSE.txt
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.1f6cfa14819852b144dd.manager.bundle.js
  next/web-components-rtl/main.1f6cfa14819852b144dd.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.c172c83e33037a38b856.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.0a4332a0.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.0a4332a0.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.7848794e.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.1f6cfa14819852b144dd.manager.bundle.js
  next/web-components/main.1f6cfa14819852b144dd.manager.bundle.js.LICENSE.txt
  next/web-components/main.c172c83e33037a38b856.manager.bundle.js
  next/web-components/main~c98f95f3.0a4332a0.iframe.bundle.js
  next/web-components/main~c98f95f3.0a4332a0.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.7848794e.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React next to GitHub Pages
  next/react-rtl/index.html
  next/react-rtl/main.0258f96cef410571fac8.manager.bundle.js
  next/react-rtl/main.0258f96cef410571fac8.manager.bundle.js.LICENSE.txt
  next/react-rtl/main.f44e41c638bd18ec856f.manager.bundle.js
  next/react-rtl/project.json
  next/react/index.html
  next/react/main.0258f96cef410571fac8.manager.bundle.js
  next/react/main.0258f96cef410571fac8.manager.bundle.js.LICENSE.txt
  next/react/main.f44e41c638bd18ec856f.manager.bundle.js
  next/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.27570cf8.iframe.bundle.js
  canary/carbon-web-components/main.27570cf8.iframe.bundle.js.map
  canary/carbon-web-components/main.92e91a81.iframe.bundle.js
  canary/carbon-web-components/main.92e91a81.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.92e91a81.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/index.html
  canary/react-experimental/main.0cdc9332fe2067c7b67e.manager.bundle.js
  canary/react-experimental/main.627f62599780eec3d45a.manager.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/index.html
  canary/react-rtl/main.0d2eef43d7ba1587c7d2.manager.bundle.js
  canary/react-rtl/main.0d2eef43d7ba1587c7d2.manager.bundle.js.LICENSE.txt
  canary/react-rtl/main.32cd0e324f725607df07.manager.bundle.js
  canary/react-rtl/project.json
  canary/react/index.html
  canary/react/main.0d2eef43d7ba1587c7d2.manager.bundle.js
  canary/react/main.0d2eef43d7ba1587c7d2.manager.bundle.js.LICENSE.txt
  canary/react/main.32cd0e324f725607df07.manager.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

fix(tabs-extended-media): safari hover (#9974)
  packages/styles/scss/components/tabs-extended-media/_tabs-extended-media.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~e435110c.3e7e71fe.iframe.bundle.js
  canary/web-components-experimental/main~e435110c.3e7e71fe.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~e435110c.86ee8539.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~e435110c.4dc52343.iframe.bundle.js
  canary/web-components-react/main~e435110c.f39c351c.iframe.bundle.js
  canary/web-components-react/main~e435110c.f39c351c.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~e435110c.3e7e71fe.iframe.bundle.js
  canary/web-components-rtl/main~e435110c.3e7e71fe.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~e435110c.86ee8539.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~e435110c.3e7e71fe.iframe.bundle.js
  canary/web-components/main~e435110c.3e7e71fe.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~e435110c.86ee8539.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix: add ui shell thumbnail
  packages/carbon-web-components/carbon.yml
  packages/carbon-web-components/thumbnails/ui-shell.svg
Due: none

fix: address cwc indexing errors
  packages/carbon-web-components/carbon.yml
Due: none

fix(masthead): left nav click out
  packages/web-components/src/components/masthead/left-nav.ts
Due: prettier --write, yarn lint:license:staged

fix(package): missing 2.0.0
  .yarn/offline-mirror/@carbon-ibmdotcom-styles-1.42.0.tgz
  .yarn/offline-mirror/@carbon-web-components-2.0.0-lit-v2-alpha.tgz
Due: none
