Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(snapshot): update react snapshot files
  .yarn/offline-mirror/@types-mocha-10.0.0.tgz
  yarn.lock
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/index.html
  canary/react-experimental/main.1506b4bd02d8a57beefe.manager.bundle.js
  canary/react-experimental/main.d062c280bc4ac53fc80a.manager.bundle.js
  canary/react-experimental/main~b8f0d581.17f7b5b2.iframe.bundle.js
  canary/react-experimental/main~b8f0d581.d432223e.iframe.bundle.js
  canary/react-experimental/main~b8f0d581.d432223e.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/project.json
  canary/react-experimental/vendors~main~41b1ce3f.5a7742c0.iframe.bundle.js
  canary/react-experimental/vendors~main~41b1ce3f.d77b3e60.iframe.bundle.js
  canary/react-rtl/iframe.html
  canary/react-rtl/index.html
  canary/react-rtl/main.389d11677028ea7d8399.manager.bundle.js
  canary/react-rtl/main.389d11677028ea7d8399.manager.bundle.js.LICENSE.txt
  canary/react-rtl/main.4f44f922eca0f6d47167.manager.bundle.js
  canary/react-rtl/main~b8f0d581.17f7b5b2.iframe.bundle.js
  canary/react-rtl/main~b8f0d581.d432223e.iframe.bundle.js
  canary/react-rtl/main~b8f0d581.d432223e.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/project.json
  canary/react-rtl/vendors~main~41b1ce3f.5a7742c0.iframe.bundle.js
  canary/react-rtl/vendors~main~41b1ce3f.d77b3e60.iframe.bundle.js
  canary/react/iframe.html
  canary/react/index.html
  canary/react/main.389d11677028ea7d8399.manager.bundle.js
  canary/react/main.389d11677028ea7d8399.manager.bundle.js.LICENSE.txt
  canary/react/main.4f44f922eca0f6d47167.manager.bundle.js
  canary/react/main~b8f0d581.559bb7ea.iframe.bundle.js
  canary/react/main~b8f0d581.5bf3a272.iframe.bundle.js
  canary/react/main~b8f0d581.5bf3a272.iframe.bundle.js.LICENSE.txt
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(deps): bump loader-utils from 1.4.0 to 1.4.2 (#9660)
  .yarn/offline-mirror/loader-utils-1.4.0.tgz
  .yarn/offline-mirror/loader-utils-1.4.2.tgz
  yarn.lock
Due: none

chore(package): update cwc package.json and docs
  .github/workflows/automerge-import-cwc-repo.yml
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/percy-update-base.yml
  packages/carbon-web-components/README.md
  packages/carbon-web-components/package.json
Due: prettier --write

chore(yarn): add offline packages
  .yarn/offline-mirror/carbon-components-10.52.0.tgz
  .yarn/offline-mirror/carbon-web-components-1.21.0.tgz
  yarn.lock
Due: none

fix(table-of-contents): fix subtree observer callback (#9608)
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged

chore(prettier): format code
  packages/web-components/src/components/table-of-contents/table-of-contents.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~8e0c9f68.68ade657.iframe.bundle.js
  canary/web-components-experimental/main~8e0c9f68.68ade657.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~8e0c9f68.bd32099f.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-experimental/vendors~main~62731303.7ea3b64d.iframe.bundle.js
  canary/web-components-experimental/vendors~main~62731303.fa798e86.iframe.bundle.js
  canary/web-components-react/iframe.html
  canary/web-components-react/main~8e0c9f68.2cc2096a.iframe.bundle.js
  canary/web-components-react/main~8e0c9f68.d991afc0.iframe.bundle.js
  canary/web-components-react/main~8e0c9f68.d991afc0.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-react/vendors~main~a353122d.186c97b5.iframe.bundle.js
  canary/web-components-react/vendors~main~a353122d.a25e1994.iframe.bundle.js
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~8e0c9f68.68ade657.iframe.bundle.js
  canary/web-components-rtl/main~8e0c9f68.68ade657.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~8e0c9f68.bd32099f.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components-rtl/vendors~main~62731303.7ea3b64d.iframe.bundle.js
  canary/web-components-rtl/vendors~main~62731303.fa798e86.iframe.bundle.js
  canary/web-components/iframe.html
  canary/web-components/main~8e0c9f68.68ade657.iframe.bundle.js
  canary/web-components/main~8e0c9f68.68ade657.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~8e0c9f68.bd32099f.iframe.bundle.js
  canary/web-components/project.json
  canary/web-components/vendors~main~62731303.7ea3b64d.iframe.bundle.js
  canary/web-components/vendors~main~62731303.fa798e86.iframe.bundle.js
Due: prettier --write, yarn lint:license:staged

feat(cta): add email, schedule, chat, call types (#9311)
  packages/web-components/examples/codesandbox/components/cta-button/contact-methods.html
  packages/web-components/src/component-mixins/cta/cta.ts
  packages/web-components/src/components/cta/__stories__/README.stories.mdx
  packages/web-components/src/components/cta/__stories__/ctaTypeConfig.js
  packages/web-components/src/components/cta/defs.ts
Due: prettier --write, yarn lint:license:staged
