Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/index.html
  canary/web-components-experimental/main.659314d229f5981ef913.manager.bundle.js
  canary/web-components-experimental/main.81584ef2ce10a84fafef.manager.bundle.js
  canary/web-components-experimental/main~c98f95f3.d9e91455.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components-experimental/main~c98f95f3.dd783dab.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/index.html
  canary/web-components-react/main.3d335b51b912ca9871e7.manager.bundle.js
  canary/web-components-react/main.7f6e1bd35384ec5195f9.manager.bundle.js
  canary/web-components-react/main~c98f95f3.808cc4e8.iframe.bundle.js
  canary/web-components-react/main~c98f95f3.808cc4e8.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/main~c98f95f3.f93042d5.iframe.bundle.js
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/index.html
  canary/web-components-rtl/main.752606674b769c9e192d.manager.bundle.js
  canary/web-components-rtl/main.752606674b769c9e192d.manager.bundle.js.LICENSE.txt
  canary/web-components-rtl/main.97bf56d15661f18314de.manager.bundle.js
  canary/web-components-rtl/main~c98f95f3.d9e91455.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components-rtl/main~c98f95f3.dd783dab.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/index.html
  canary/web-components/main.752606674b769c9e192d.manager.bundle.js
  canary/web-components/main.752606674b769c9e192d.manager.bundle.js.LICENSE.txt
  canary/web-components/main.97bf56d15661f18314de.manager.bundle.js
  canary/web-components/main~c98f95f3.d9e91455.iframe.bundle.js
  canary/web-components/main~c98f95f3.dd783dab.iframe.bundle.js
  canary/web-components/main~c98f95f3.dd783dab.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

Fixed format issue
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

Fixed Country Based text value
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Due: prettier --write, yarn lint:license:staged

fix(modal): focus trap issue fix v2
  packages/carbon-web-components/src/components/modal/modal.ts
Due: prettier --write, yarn lint:license:staged

fix(modal): focus trap fix e2e fix
  packages/carbon-web-components/src/components/modal/modal.ts
Due: prettier --write, yarn lint:license:staged

fix(ui shell): a11y issue with side nav item
  packages/carbon-web-components/src/components/ui-shell/ui-shell-story.ts
Due: prettier --write, yarn lint:license:staged

chore(deps): update yarn.lock
  .yarn/cache/browserstack-cypress-cli-npm-1.25.3-0bf735d88f-cd7cbe42c7.zip
  .yarn/cache/browserstack-cypress-cli-npm-1.26.0-67df0ea09a-978303dbed.zip
  .yarn/cache/electron-to-chromium-npm-1.4.554-e4d97f6919-cbac43c50b.zip
  .yarn/cache/electron-to-chromium-npm-1.4.556-dfa9f4c447-8c9aa48776.zip
  .yarn/cache/terser-npm-5.21.0-574db40944-130f1567af.zip
  .yarn/cache/terser-npm-5.22.0-e83cb45628-ee95981c54.zip
  yarn.lock
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

10921: add aria-label to anchor tags inside bx-tabs for accessbility
  packages/carbon-web-components/src/components/tabs/tab.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

10921: remove state import
  packages/carbon-web-components/src/components/tabs/tab.ts
Due: prettier --write, yarn lint:license:staged

fix(storybook): downgrade rtlcss
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  packages/web-components/tests/karma-accessibility-checker.conf.js
  packages/web-components/tests/karma.conf.js
  yarn.lock
Due: prettier --write, yarn lint:license:staged

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.46edb114.iframe.bundle.js
  next/carbon-web-components/main.46edb114.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.46edb114.iframe.bundle.js.map
  next/carbon-web-components/main.7d9bb894.iframe.bundle.js
  next/carbon-web-components/main.7d9bb894.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.3d335b51b912ca9871e7.manager.bundle.js
  next/web-components-react/main.b9496895a932a9d13119.manager.bundle.js
  next/web-components-react/main~c98f95f3.aaa7b61b.iframe.bundle.js
  next/web-components-react/main~c98f95f3.aaa7b61b.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.f93042d5.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.6346f389ec368fcb5757.manager.bundle.js
  next/web-components-rtl/main.6346f389ec368fcb5757.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.97bf56d15661f18314de.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.ca46b511.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.ca46b511.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.d9e91455.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.6346f389ec368fcb5757.manager.bundle.js
  next/web-components/main.6346f389ec368fcb5757.manager.bundle.js.LICENSE.txt
  next/web-components/main.97bf56d15661f18314de.manager.bundle.js
  next/web-components/main~c98f95f3.ca46b511.iframe.bundle.js
  next/web-components/main~c98f95f3.ca46b511.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.d9e91455.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

Fixed Country Based text value (#11038)
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/utils.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~c64e6414.511e60e0.iframe.bundle.js
  canary/web-components-experimental/main~c64e6414.be1650d5.iframe.bundle.js
  canary/web-components-experimental/main~c64e6414.be1650d5.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~f075b844.6391c2ae.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.bce15862.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~c64e6414.511e60e0.iframe.bundle.js
  canary/web-components-rtl/main~c64e6414.be1650d5.iframe.bundle.js
  canary/web-components-rtl/main~c64e6414.be1650d5.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~f075b844.6391c2ae.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.bce15862.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~c64e6414.511e60e0.iframe.bundle.js
  canary/web-components/main~c64e6414.be1650d5.iframe.bundle.js
  canary/web-components/main~c64e6414.be1650d5.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~f075b844.6391c2ae.iframe.bundle.js
  canary/web-components/main~f075b844.bce15862.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(styles): remove unused styles
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/link-list.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(component): remove unused link-list components
  docs/dotcom-v2-migration.md
  packages/web-components/examples/codesandbox/components-react/link-list/src/index.js
  packages/web-components/examples/codesandbox/components/link-list/cdn.html
  packages/web-components/examples/codesandbox/components/link-list/index.html
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/card-link/card-link.scss
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.react.tsx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/cta/__stories__/README.stories.react.mdx
  packages/web-components/src/components/cta/card-cta-footer.ts
  packages/web-components/src/components/cta/index.ts
  packages/web-components/src/components/cta/link-list-item-card-cta.ts
  packages/web-components/src/components/link-list/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list/__stories__/README.stories.react.mdx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.react.tsx
  packages/web-components/src/components/link-list/__stories__/link-list.stories.ts
  packages/web-components/src/components/link-list/index.ts
  packages/web-components/src/components/link-list/link-list-item-card.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/link-list/default.e2e.js
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block): update spacing
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
  packages/web-components/src/components/card/__stories__/card.stories.ts
  packages/web-components/src/components/content-section-playground/playground.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(layout): remove directory (#11032)
  packages/web-components/src/components/layout/__stories__/README.stories.mdx
  packages/web-components/src/components/layout/__stories__/README.stories.react.mdx
  packages/web-components/src/components/layout/__stories__/layout.stories.react.tsx
  packages/web-components/src/components/layout/__stories__/layout.stories.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

fix(card-w-pictogram): card with pictogram was not using a correct semantic as an anchor element
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(locale-modal): only render modal when its called by user click (#10892)
  packages/web-components/src/components/dotcom-shell/dotcom-shell-composite.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/locale-modal/locale-modal.ts
  packages/web-components/src/components/locale-modal/locale-search.ts
  packages/web-components/src/globals/mixins/modal-render.ts
  packages/web-components/tests/e2e-storybook/cypress/integration/footer/footer-short.e2e.js
  packages/web-components/tests/e2e-storybook/cypress/integration/locale-modal/locale-modal.e2e.js
  packages/web-components/tests/snapshots/dds-locale-modal-composite.md
Due: prettier --write, yarn lint:license:staged

feat(styles): update expressive-modal styles to v2
  packages/carbon-web-components/src/components/modal/modal.scss
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/expressive-modal/expressive-modal.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(styles): update expressive modal styles
  packages/styles/scss/components/expressive-modal/_expressive-modal.scss
  packages/web-components/src/components/expressive-modal/__stories__/expressive-modal.stories.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(pricing-table): adding more space between the items the row 3 example from the stories
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.scss
  packages/web-components/src/components/pricing-table/__stories__/pricing-table.stories.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(package.json): add entry point for scss files
  packages/carbon-web-components/package.json
Due: none

refactor(filter-panel): handle heading better
  packages/web-components/src/components/filter-panel/filter-panel-composite.ts
Due: prettier --write, yarn lint:license:staged

feat(package.json): add entry point for scss files (#11053)
  carbon-web-components/packages/carbon-web-components/package.json
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
