Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

fix(image): remove prefix
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged

chore(readme): v2 cleanup
  packages/web-components/README.md
  packages/web-components/docs/breaking-changes.md
  packages/web-components/docs/carbon-cdn-style-helpers.md
  packages/web-components/docs/coding-conventions.md
  packages/web-components/docs/contributing-to-web-components.md
  packages/web-components/docs/feature-flags.md
  packages/web-components/docs/markdown-contents.md
  packages/web-components/docs/stable-selectors.md
Due: prettier --write

fix(docs): add missing documentation
  docs/dotcom-v2-migration.md
Due: prettier --write

fix(masthead-v2): use more explicit selector in dropdown toggle (#11084)
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

fix(card-group): addressed feedback
  packages/web-components/src/components/card-group/__stories__/card-group.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(content-section): address spacing feedback
  packages/styles/scss/internal/content-section/_content-section.scss
  packages/web-components/src/components/content-section-playground/playground.stories.ts
  packages/web-components/src/components/content-section/__stories__/content-section.stories.ts
  packages/web-components/src/components/content-section/content-section.scss
  packages/web-components/src/components/content-section/content-section.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(link-with-icon): remove property set-by-enum
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged

feat(content-block): expose story again
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(link-with-icon): remove unused reference
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged

chore(component): welcome back link-list-section
  docs/dotcom-v2-migration.md
  packages/styles/scss/components/link-list-section/_link-list-section.scss
  packages/styles/scss/components/link-list/_link-list.scss
  packages/web-components/src/components/link-list-section/__stories__/README.stories.mdx
  packages/web-components/src/components/link-list-section/__stories__/README.stories.react.mdx
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.react.tsx
  packages/web-components/src/components/link-list-section/__stories__/link-list-section.stories.ts
  packages/web-components/src/components/link-list/defs.ts
  packages/web-components/src/components/link-list/link-list.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(link-with-icon): remove property set-by-enum (#11092)
  packages/web-components/src/components/link-with-icon/link-with-icon.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/project.json
Due: none

feat(masthead-v2): close chat module on L1 dropdown open
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): toggle masthead-contact label on cm-app state change
  packages/web-components/src/components/masthead/masthead-contact.ts
Due: prettier --write, yarn lint:license:staged

fix(content group): margin collapse issue fix
  packages/styles/scss/components/content-group/_content-group.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(content-block): add content block
  packages/styles/scss/internal/content-block/_content-block.scss
  packages/web-components/src/components/content-block-card-static/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-card-static/__stories__/content-block-card-static.stories.ts
  packages/web-components/src/components/content-block-cards/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-cards/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.react.tsx
  packages/web-components/src/components/content-block-cards/__stories__/content-block-cards.stories.ts
  packages/web-components/src/components/content-block-headlines/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-headlines/__stories__/content-block-headlines.stories.ts
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.react.tsx
  packages/web-components/src/components/content-block-horizontal/__stories__/content-block-horizontal.stories.ts
  packages/web-components/src/components/content-block-media/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-media/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.react.tsx
  packages/web-components/src/components/content-block-media/__stories__/content-block-media.stories.ts
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.react.tsx
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.scss
  packages/web-components/src/components/content-block-mixed/__stories__/content-block-mixed.stories.ts
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.react.tsx
  packages/web-components/src/components/content-block-segmented/__stories__/content-block-segmented.stories.ts
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.mdx
  packages/web-components/src/components/content-block-simple/__stories__/README.stories.react.mdx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.react.tsx
  packages/web-components/src/components/content-block-simple/__stories__/content-block-simple.stories.ts
  packages/web-components/src/components/content-block/__stories__/content-block.stories.ts
  packages/web-components/src/components/content-block/content-block.scss
  packages/web-components/src/components/content-block/content-block.ts
  packages/web-components/src/components/content-item-row/__stories__/content-item-row.stories.ts
  packages/web-components/src/components/leadspace-block/leadspace-block.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-group): ts-ignore on false positive
  packages/web-components/src/components/card-group/__stories__/card-group.stories.react.tsx
Due: prettier --write, yarn lint:license:staged

fix(content group pictograms): screen reader issue fix
  packages/web-components/src/components/content-group-pictograms/__stories__/content-group-pictograms.stories.ts
Due: prettier --write, yarn lint:license:staged

fix(card-w-pitcogram): creating a new PR for a previous branch that had some issues
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-w-pictogram): card with pictogram was not using a correct semantic as an anchor element
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-w-pictogram): small fix for the renderPictogram method
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged

fix(card-w-pictogram): fixing focus for accessibility and refactoring some methods
  packages/styles/scss/components/card/index.scss
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(card-w-pictogram): using assignedNodes() method in handle slot change
  packages/web-components/src/components/card/card.ts
Due: prettier --write, yarn lint:license:staged

chore(styles): update link-list-item-cta styles
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.3ebfc9fd.iframe.bundle.js
  next/carbon-web-components/main.3ebfc9fd.iframe.bundle.js.map
  next/carbon-web-components/main.b3445c7e.iframe.bundle.js
  next/carbon-web-components/main.b3445c7e.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.b3445c7e.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.6c376694001e709bab09.manager.bundle.js
  next/web-components-react/main.74658b2324c617fcabdc.manager.bundle.js
  next/web-components-react/main~c98f95f3.3797680a.iframe.bundle.js
  next/web-components-react/main~c98f95f3.3797680a.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.f1bed0b4.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.76ab1d08006d0290dc98.manager.bundle.js
  next/web-components-rtl/main.cf57358014a9586e8fe3.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.6c2d1298.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.6c2d1298.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.ba0138a5.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.76ab1d08006d0290dc98.manager.bundle.js
  next/web-components/main.cf57358014a9586e8fe3.manager.bundle.js
  next/web-components/main~c98f95f3.6c2d1298.iframe.bundle.js
  next/web-components/main~c98f95f3.6c2d1298.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.ba0138a5.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

feat(masthead-contact): update cm-app event listeners
  packages/web-components/src/components/masthead/masthead-contact.ts
Due: prettier --write, yarn lint:license:staged

fix(components): format
  packages/web-components/src/components/locale-modal/locale-modal-composite.ts
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
