Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead): check all link properties before rendering
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead): make overview text translatable
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead): simplify heading switch
  packages/web-components/src/components/masthead/masthead-l1.ts
Due: prettier --write, yarn lint:license:staged

fix(layer): using better scope for layer story
  packages/carbon-web-components/src/components/layer/layer-story.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead): add bottom-border to dropdown section
  packages/styles/scss/components/masthead/_masthead-l1.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(link): sync with react
  packages/carbon-web-components/src/components/link/link-story.mdx
  packages/carbon-web-components/src/components/link/link-story.ts
  packages/carbon-web-components/src/components/link/link.ts
Due: prettier --write, yarn lint:license:staged

fix(layer): added to typing file
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
Due: prettier --write, yarn lint:license:staged

feat(number-input): initial changes
  packages/carbon-web-components/src/components/number-input/number-input-skeleton.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/tests/spec/number-input_spec.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(prefix): update BX to CDS
  packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion-item.ts
  packages/carbon-web-components/src/components/accordion/accordion-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-item.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-link.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-overflow-menu.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.ts
Due: prettier --write, yarn lint:license:staged

fix(prefix): update BX to CDS
  packages/carbon-web-components/src/components/link/link.ts
Due: prettier --write, yarn lint:license:staged

fix(masthead-v2): use correct view all cta padding
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead-v2): use correct back button hover color
  packages/styles/scss/components/masthead/_masthead-leftnav.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Update packages/carbon-web-components/src/components/link/link-story.ts
  packages/carbon-web-components/src/components/link/link-story.ts
Due: prettier --write, yarn lint:license:staged

feat(number-input): missing attributes
  packages/carbon-web-components/docs/form.md
  packages/carbon-web-components/examples/codesandbox/form/redux-form/src/index.js
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
  packages/carbon-web-components/src/index.ts
  packages/carbon-web-components/tests/spec/input_spec.ts
Due: prettier --write, yarn lint:license:staged

fix(masthead-v2): do not apply only-child styles to megamenu left column
  packages/web-components/src/components/masthead/megamenu-left-navigation.ts
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
Due: prettier --write, yarn lint:license:staged

fix(masthead-v2): use consistent CSS unit values
  packages/styles/scss/components/masthead/_masthead-megamenu.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(masthead-v2): prevent errors when class is not defined
  packages/web-components/src/components/masthead/megamenu-right-navigation.ts
Due: prettier --write, yarn lint:license:staged

fix(notificaiton): update styles/remove @extend
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(breadcrumb): add after styles
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(notification): update color support
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(layer): addressed comments
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/index.html
  packages/carbon-web-components/src/components/layer/layer.ts
Due: prettier --write, yarn lint:license:staged

chore(merge): resolve conflicts
  .github/workflows/deploy-canary.yml
  .github/workflows/e2e-tests-browserstack-canary.yml
  .github/workflows/e2e-tests-browserstack-next.yml
  .github/workflows/percy-update-base.yml
Due: none

feat(number-input): add props
  packages/carbon-web-components/src/components/input/defs.ts
  packages/carbon-web-components/src/components/input/input.ts
  packages/carbon-web-components/src/components/input/stories/helpers.ts
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
Due: prettier --write, yarn lint:license:staged

feat(number-input): aria label props
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
  packages/carbon-web-components/src/components/number-input/number-input.ts
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(number-input): doc adjustments
  packages/carbon-web-components/src/components/number-input/number-input-story.mdx
  packages/carbon-web-components/src/components/number-input/number-input-story.ts
  packages/carbon-web-components/src/components/number-input/number-input.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(link): sync with react (#10229)
  carbon-web-components/packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  carbon-web-components/packages/carbon-web-components/src/components/accordion/accordion-item.ts
  carbon-web-components/packages/carbon-web-components/src/components/accordion/accordion-skeleton.ts
  carbon-web-components/packages/carbon-web-components/src/components/accordion/accordion.ts
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb-item.ts
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb-link.ts
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb-overflow-menu.ts
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb.ts
  carbon-web-components/packages/carbon-web-components/src/components/link/link-story.mdx
  carbon-web-components/packages/carbon-web-components/src/components/link/link-story.ts
  carbon-web-components/packages/carbon-web-components/src/components/link/link.ts
Due: prettier --write, yarn lint:license:staged

feat(link): sync with react (#10229)
  packages/carbon-web-components/src/components/accordion/accordion-item-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion-item.ts
  packages/carbon-web-components/src/components/accordion/accordion-skeleton.ts
  packages/carbon-web-components/src/components/accordion/accordion.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-item.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-link.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-overflow-menu.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb-skeleton.ts
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.ts
  packages/carbon-web-components/src/components/link/link-story.mdx
  packages/carbon-web-components/src/components/link/link-story.ts
  packages/carbon-web-components/src/components/link/link.ts
Due: prettier --write, yarn lint:license:staged

fix(input): change input size regular to medium
  packages/carbon-web-components/src/components/date-picker/date-picker-input.ts
  packages/carbon-web-components/src/components/date-picker/date-picker-story.ts
  packages/carbon-web-components/src/components/input/stories/helpers.ts
  packages/carbon-web-components/src/components/search/search-skeleton.ts
  packages/carbon-web-components/src/components/search/search.ts
  packages/carbon-web-components/src/components/select/select.ts
Due: prettier --write, yarn lint:license:staged

feat(layer): introducing web component (#10213)
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/.babelrc
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/.gitignore
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/cdn.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/index.html
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/package.json
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/sandbox.config.json
  packages/carbon-web-components/examples/codesandbox/basic/components/layer/src/index.js
  packages/carbon-web-components/examples/codesandbox/cdn/index.html
  packages/carbon-web-components/src/components/layer/index.ts
  packages/carbon-web-components/src/components/layer/layer-story.mdx
  packages/carbon-web-components/src/components/layer/layer-story.scss
  packages/carbon-web-components/src/components/layer/layer-story.ts
  packages/carbon-web-components/src/components/layer/layer.scss
  packages/carbon-web-components/src/components/layer/layer.ts
  packages/carbon-web-components/src/typings/jsx-elements.d.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(layer): introducing web component (#10213)
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/.babelrc
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/.gitignore
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/cdn.html
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/index.html
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/package.json
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/sandbox.config.json
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/basic/components/layer/src/index.js
  carbon-web-components/packages/carbon-web-components/examples/codesandbox/cdn/index.html
  carbon-web-components/packages/carbon-web-components/src/components/layer/index.ts
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer-story.mdx
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer-story.scss
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer-story.ts
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer.scss
  carbon-web-components/packages/carbon-web-components/src/components/layer/layer.ts
  carbon-web-components/packages/carbon-web-components/src/typings/jsx-elements.d.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(tooltip): fix method name from cherry pick
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
Due: prettier --write, yarn lint:license:staged

fix(tooltip): fix method name from cherry pick
  carbon-web-components/packages/carbon-web-components/src/components/tooltip/tooltip.ts
Due: prettier --write, yarn lint:license:staged

chore(input): add back xl input size for wc
  packages/carbon-web-components/src/components/input/defs.ts
Due: prettier --write, yarn lint:license:staged

fix(notificaiton/breadcrumb): update styles/remove @extend (#10231)
  carbon-web-components/packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  carbon-web-components/packages/carbon-web-components/src/components/notification/inline-notification.scss
  carbon-web-components/packages/carbon-web-components/src/components/notification/toast-notification.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

fix(notificaiton/breadcrumb): update styles/remove @extend (#10231)
  packages/carbon-web-components/src/components/breadcrumb/breadcrumb.scss
  packages/carbon-web-components/src/components/notification/inline-notification.scss
  packages/carbon-web-components/src/components/notification/toast-notification.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(number-input): remove unused textNullable
  packages/carbon-web-components/src/components/number-input/stories/helpers.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(test): update number-input test
  packages/carbon-web-components/tests/spec/number-input_spec.ts
Due: prettier --write, yarn lint:license:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
