Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy @carbon/web-components v2 rc to GitHub Pages
  rc/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy @carbon/web-components v2 to GitHub Pages
  v2/carbon-web-components-v2/project.json
Due: none

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/iframe.html
  v2/web-components-experimental/main~c98f95f3.34999394.iframe.bundle.js
  v2/web-components-experimental/main~c98f95f3.34999394.iframe.bundle.js.LICENSE.txt
  v2/web-components-experimental/main~c98f95f3.6fd35a06.iframe.bundle.js
  v2/web-components-experimental/project.json
  v2/web-components-react/project.json
  v2/web-components-rtl/iframe.html
  v2/web-components-rtl/main~c98f95f3.34999394.iframe.bundle.js
  v2/web-components-rtl/main~c98f95f3.34999394.iframe.bundle.js.LICENSE.txt
  v2/web-components-rtl/main~c98f95f3.6fd35a06.iframe.bundle.js
  v2/web-components-rtl/project.json
  v2/web-components/iframe.html
  v2/web-components/main~c98f95f3.34999394.iframe.bundle.js
  v2/web-components/main~c98f95f3.34999394.iframe.bundle.js.LICENSE.txt
  v2/web-components/main~c98f95f3.6fd35a06.iframe.bundle.js
  v2/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(storybook): add plex cdn
  packages/web-components/.storybook/preview-head.html
Due: none

chore(leadspace): update codesandbox examples
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
  packages/web-components/examples/codesandbox/components/leadspace/cdn.html
  packages/web-components/examples/codesandbox/components/leadspace/index.html
  packages/web-components/examples/codesandbox/components/leadspace/src/index.js
  packages/web-components/src/components/leadspace/__stories__/README.stories.react.mdx
Due: prettier --write, yarn lint:license:staged

feat(footer): optimize node counts (#10731)
  packages/web-components/src/component-mixins/media-query/media-query.ts
  packages/web-components/src/components/footer/__tests__/footer-nav-group.test.ts
  packages/web-components/src/components/footer/defs.ts
  packages/web-components/src/components/footer/footer-composite.ts
  packages/web-components/src/components/footer/footer-nav-group.ts
  packages/web-components/src/components/footer/footer.scss
  packages/web-components/src/components/footer/language-selector-desktop.ts
  packages/web-components/src/components/footer/language-selector-mobile.ts
  packages/web-components/src/components/footer/legal-nav.ts
  packages/web-components/tests/snapshots/dds-footer-composite.md
  packages/web-components/tests/utils/mock-media-query-list.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

Fixed prettier issue
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged

Notice and Choice New Version 23
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged

Removed with loadsh
  packages/web-components/src/components/notice-choice/notice-choice.ts
Due: prettier --write, yarn lint:license:staged

fix(cta-card) video heading update
  packages/styles/scss/components/link-list/_link-list.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

Fixed service url stage to prod
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged

Notice and Choice v23 new version
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged

Notice and Choice v23 new version (#10805)
  packages/web-components/src/components/notice-choice/__stories__/notice-choice.stories.ts
  packages/web-components/src/components/notice-choice/country-settings.ts
  packages/web-components/src/components/notice-choice/notice-choice.ts
  packages/web-components/src/components/notice-choice/services.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~c64e6414.20e1d341.iframe.bundle.js
  canary/web-components-experimental/main~c64e6414.20e1d341.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/main~c64e6414.9b4c05ff.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.9fc50297.iframe.bundle.js
  canary/web-components-experimental/main~f075b844.cdfbeff6.iframe.bundle.js
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~c64e6414.20e1d341.iframe.bundle.js
  canary/web-components-rtl/main~c64e6414.20e1d341.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/main~c64e6414.9b4c05ff.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.9fc50297.iframe.bundle.js
  canary/web-components-rtl/main~f075b844.cdfbeff6.iframe.bundle.js
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~c64e6414.20e1d341.iframe.bundle.js
  canary/web-components/main~c64e6414.20e1d341.iframe.bundle.js.LICENSE.txt
  canary/web-components/main~c64e6414.9b4c05ff.iframe.bundle.js
  canary/web-components/main~f075b844.9fc50297.iframe.bundle.js
  canary/web-components/main~f075b844.cdfbeff6.iframe.bundle.js
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

feat(image): v2 updates
  packages/styles/scss/components/image-with-caption/_image-with-caption.scss
  packages/styles/scss/components/image-with-caption/_index.scss
  packages/styles/scss/components/image/_image.scss
  packages/web-components/src/components/content-block-mixed/index.ts
  packages/web-components/src/components/expressive-modal/expressive-modal.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.scss
  packages/web-components/src/components/image-with-caption/image-with-caption.ts
  packages/web-components/src/components/image/__stories__/image.stories.ts
  packages/web-components/src/components/image/defs.ts
  packages/web-components/src/components/image/image.scss
  packages/web-components/src/components/image/image.ts
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

docs(leadspace): import dds image item
  packages/web-components/examples/codesandbox/components-react/leadspace/src/index.js
Due: prettier --write, yarn lint:license:staged

fix(cwc): react wrapper prefix
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, yarn lint:license:staged

fix(cwc): react wrapper prefix
  carbon-web-components/packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, yarn lint:license:staged

chore(babel): add missing semi-colon
  carbon-web-components/packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, yarn lint:license:staged

chore(babel): add missing semi-colon
  packages/carbon-web-components/tools/babel-plugin-create-react-custom-element-type.js
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components v2 to GitHub Pages
  v2/web-components-experimental/project.json
  v2/web-components-react/64.289c6ec2.iframe.bundle.js
  v2/web-components-react/64.289c6ec2.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/64.937aa01d.iframe.bundle.js
  v2/web-components-react/65.19504dff.iframe.bundle.js
  v2/web-components-react/65.19504dff.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/65.7322b7b4.iframe.bundle.js
  v2/web-components-react/iframe.html
  v2/web-components-react/main~227d378d.1dd9a6ab.iframe.bundle.js
  v2/web-components-react/main~227d378d.7a0f49da.iframe.bundle.js
  v2/web-components-react/main~227d378d.7a0f49da.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~24eb9ab1.66f7a45d.iframe.bundle.js
  v2/web-components-react/main~24eb9ab1.66f7a45d.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~24eb9ab1.f8416e77.iframe.bundle.js
  v2/web-components-react/main~3a7cb783.d53728da.iframe.bundle.js
  v2/web-components-react/main~3a7cb783.f455cc73.iframe.bundle.js
  v2/web-components-react/main~3a7cb783.f455cc73.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~493df0b3.0166cc84.iframe.bundle.js
  v2/web-components-react/main~493df0b3.0166cc84.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~493df0b3.1371c753.iframe.bundle.js
  v2/web-components-react/main~a0fc626b.0779725b.iframe.bundle.js
  v2/web-components-react/main~a0fc626b.0779725b.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~a0fc626b.8e747a8a.iframe.bundle.js
  v2/web-components-react/main~d55cedd4.6f4c5abb.iframe.bundle.js
  v2/web-components-react/main~d55cedd4.e15d5fd4.iframe.bundle.js
  v2/web-components-react/main~d55cedd4.e15d5fd4.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~f0e4b9a6.415ad4eb.iframe.bundle.js
  v2/web-components-react/main~f0e4b9a6.5ca697d2.iframe.bundle.js
  v2/web-components-react/main~f0e4b9a6.5ca697d2.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/main~fcb00315.0918e3c9.iframe.bundle.js
  v2/web-components-react/main~fcb00315.5478608f.iframe.bundle.js
  v2/web-components-react/main~fcb00315.5478608f.iframe.bundle.js.LICENSE.txt
  v2/web-components-react/project.json
  v2/web-components-react/runtime~main.08f8a4ab.iframe.bundle.js
  v2/web-components-react/runtime~main.42cb1499.iframe.bundle.js
  v2/web-components-rtl/project.json
  v2/web-components/project.json
Due: prettier --write, yarn lint:license:staged

fix(storybook): format
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
  packages/web-components/src/components/content-block-headlines/content-block-headlines-item.ts
  packages/web-components/src/components/markdown/markdown.ts
  packages/web-components/src/components/structured-list/structured-list-cell.ts
Due: prettier --write, yarn lint:license:staged

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)) or (any of: *.md)
  yarn lint:license:staged: (any of: **/*.{js,ts,tsx}) or (any of: **/*.scss)
  stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom: any of: **/*.scss
