Repository carbon-design-system/carbon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

.lintstagedrc:

{
  "**/*.{js,ts,tsx}": [
    "prettier --write",
    "yarn lint:license:staged",
  ],
  "**/*.scss": [
    "prettier --write",
    "yarn lint:license:staged",
    "stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/project.json
  canary/react-rtl/project.json
  canary/react/project.json
Due: none

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/project.json
  canary/web-components-react/project.json
  canary/web-components-rtl/project.json
  canary/web-components/project.json
Due: none

chore(release): publish
  carbon-web-components/packages/carbon-web-components/CHANGELOG.md
  carbon-web-components/packages/carbon-web-components/package.json
Due: prettier --write

chore(release): publish
  packages/carbon-web-components/CHANGELOG.md
  packages/carbon-web-components/package.json
  packages/eslint-config-ibmdotcom/CHANGELOG.md
  packages/eslint-config-ibmdotcom/package.json
  packages/eslint-plugin-ibmdotcom-import-rules/CHANGELOG.md
  packages/eslint-plugin-ibmdotcom-import-rules/package.json
  packages/eslint-plugin-react-prop-type-comments/CHANGELOG.md
  packages/eslint-plugin-react-prop-type-comments/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/services-store/CHANGELOG.md
  packages/services-store/package.json
  packages/services/CHANGELOG.md
  packages/services/package.json
  packages/storybook-addon-theme/CHANGELOG.md
  packages/storybook-addon-theme/package.json
  packages/stylelint-config-ibmdotcom/CHANGELOG.md
  packages/stylelint-config-ibmdotcom/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --write

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.b39b010b.iframe.bundle.js
  next/carbon-web-components/main.b39b010b.iframe.bundle.js.map
  next/carbon-web-components/main.c1a190d2.iframe.bundle.js
  next/carbon-web-components/main.c1a190d2.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.c1a190d2.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React next to GitHub Pages
  next/react-rtl/index.html
  next/react-rtl/main.8382e837f3a228b18889.manager.bundle.js
  next/react-rtl/main.8382e837f3a228b18889.manager.bundle.js.LICENSE.txt
  next/react-rtl/main.89b54860879d5f27aadb.manager.bundle.js
  next/react-rtl/project.json
  next/react/index.html
  next/react/main.8382e837f3a228b18889.manager.bundle.js
  next/react/main.8382e837f3a228b18889.manager.bundle.js.LICENSE.txt
  next/react/main.89b54860879d5f27aadb.manager.bundle.js
  next/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components next to GitHub Pages
  next/web-components-react/iframe.html
  next/web-components-react/index.html
  next/web-components-react/main.5345827d8fa2a134abf6.manager.bundle.js
  next/web-components-react/main.cdd8a4ad85e220caf085.manager.bundle.js
  next/web-components-react/main~c98f95f3.649f3dc8.iframe.bundle.js
  next/web-components-react/main~c98f95f3.649f3dc8.iframe.bundle.js.LICENSE.txt
  next/web-components-react/main~c98f95f3.fcd6db41.iframe.bundle.js
  next/web-components-react/project.json
  next/web-components-rtl/iframe.html
  next/web-components-rtl/index.html
  next/web-components-rtl/main.2d81b2cf58a0873927f4.manager.bundle.js
  next/web-components-rtl/main.2d81b2cf58a0873927f4.manager.bundle.js.LICENSE.txt
  next/web-components-rtl/main.6bfc491a8363b7a586de.manager.bundle.js
  next/web-components-rtl/main~c98f95f3.2eadd078.iframe.bundle.js
  next/web-components-rtl/main~c98f95f3.2eadd078.iframe.bundle.js.LICENSE.txt
  next/web-components-rtl/main~c98f95f3.71f73129.iframe.bundle.js
  next/web-components-rtl/project.json
  next/web-components/iframe.html
  next/web-components/index.html
  next/web-components/main.2d81b2cf58a0873927f4.manager.bundle.js
  next/web-components/main.2d81b2cf58a0873927f4.manager.bundle.js.LICENSE.txt
  next/web-components/main.6bfc491a8363b7a586de.manager.bundle.js
  next/web-components/main~c98f95f3.2eadd078.iframe.bundle.js
  next/web-components/main~c98f95f3.2eadd078.iframe.bundle.js.LICENSE.txt
  next/web-components/main~c98f95f3.71f73129.iframe.bundle.js
  next/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(files): remove unused file
  packages/web-components/percyLogs.txt
Due: none

chore(deploy): deploy Utilities to GitHub Pages
  utilities/global.html
  utilities/ibmdotcom.module_settings.html
  utilities/index.html
  utilities/index.js.html
  utilities/ipcinfoCookie.html
  utilities/utilities_StickyHeader_StickyHeader.js.html
  utilities/utilities_altlangs_altlangs.js.html
  utilities/utilities_calculateTotalWidth_calculateTotalWidth.js.html
  utilities/utilities_decodeString_decodeString.js.html
  utilities/utilities_escaperegexp_escaperegexp.js.html
  utilities/utilities_focuswrap_focuswrap.js.html
  utilities/utilities_formatVideoCaption_formatVideoCaption.js.html
  utilities/utilities_formatVideoCaption_index.js.html
  utilities/utilities_geolocation_geolocation.js.html
  utilities/utilities_index.js.html
  utilities/utilities_ipcinfoCookie_ipcinfoCookie.js.html
  utilities/utilities_loadNonLatinPlex_loadNonLatinPlex.js.html
  utilities/utilities_markdownToHtml_markdownToHtml.js.html
  utilities/utilities_parseAspectRatio_parseAspectRatio.js.html
  utilities/utilities_removeHtmlTagEntities_removeHtmlTagEntities.js.html
  utilities/utilities_sameHeight_sameHeight.js.html
  utilities/utilities_serialize_serialize.js.html
  utilities/utilities_settings_settings.js.html
  utilities/utilities_smoothScroll_smoothScroll.js.html
  utilities/utilities_stripHTML_stripHTML.js.html
  utilities/utilities_uniqueid_uniqueid.js.html
Due: none

chore(deploy): deploy Carbon web components next to GitHub Pages
  next/carbon-web-components/iframe.html
  next/carbon-web-components/main.5eb3b809.iframe.bundle.js
  next/carbon-web-components/main.5eb3b809.iframe.bundle.js.LICENSE.txt
  next/carbon-web-components/main.5eb3b809.iframe.bundle.js.map
  next/carbon-web-components/main.c1a190d2.iframe.bundle.js
  next/carbon-web-components/main.c1a190d2.iframe.bundle.js.map
  next/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/index.html
  canary/react-experimental/main.02979914465534fbf0bb.manager.bundle.js
  canary/react-experimental/main.fa0ec62bd762971cfcec.manager.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/index.html
  canary/react-rtl/main.4badd9fe2093a9e8b793.manager.bundle.js
  canary/react-rtl/main.4badd9fe2093a9e8b793.manager.bundle.js.LICENSE.txt
  canary/react-rtl/main.d28b172544d73253175e.manager.bundle.js
  canary/react-rtl/project.json
  canary/react/index.html
  canary/react/main.4badd9fe2093a9e8b793.manager.bundle.js
  canary/react/main.4badd9fe2093a9e8b793.manager.bundle.js.LICENSE.txt
  canary/react/main.d28b172544d73253175e.manager.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(prettier): format code
  packages/carbon-web-components/src/components/dropdown/dropdown.ts
  packages/carbon-web-components/src/components/tile/selectable-tile.ts
  packages/carbon-web-components/src/components/tooltip/tooltip.ts
  packages/react/src/components/ButtonGroup/ButtonGroup.js
  packages/web-components/src/components/button-group/button-group.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React next to GitHub Pages
  next/react-rtl/iframe.html
  next/react-rtl/index.html
  next/react-rtl/main.4badd9fe2093a9e8b793.manager.bundle.js
  next/react-rtl/main.4badd9fe2093a9e8b793.manager.bundle.js.LICENSE.txt
  next/react-rtl/main.8382e837f3a228b18889.manager.bundle.js
  next/react-rtl/main~17c351d0.04d217e2.iframe.bundle.js
  next/react-rtl/main~17c351d0.9bcb64d0.iframe.bundle.js
  next/react-rtl/main~17c351d0.9bcb64d0.iframe.bundle.js.LICENSE.txt
  next/react-rtl/main~51699ebf.2ba97329.iframe.bundle.js
  next/react-rtl/main~51699ebf.d964d018.iframe.bundle.js
  next/react-rtl/project.json
  next/react/iframe.html
  next/react/index.html
  next/react/main.4badd9fe2093a9e8b793.manager.bundle.js
  next/react/main.4badd9fe2093a9e8b793.manager.bundle.js.LICENSE.txt
  next/react/main.8382e837f3a228b18889.manager.bundle.js
  next/react/main~17c351d0.448d3e50.iframe.bundle.js
  next/react/main~17c351d0.db879f22.iframe.bundle.js
  next/react/main~17c351d0.db879f22.iframe.bundle.js.LICENSE.txt
  next/react/main~51699ebf.62575c1f.iframe.bundle.js
  next/react/main~51699ebf.839362d6.iframe.bundle.js
  next/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.5eb3b809.iframe.bundle.js
  canary/carbon-web-components/main.5eb3b809.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.5eb3b809.iframe.bundle.js.map
  canary/carbon-web-components/main.65ec5bba.iframe.bundle.js
  canary/carbon-web-components/main.65ec5bba.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(git-actions): update workflow to include feat/masthead-v2-de
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests.yml
Due: none

chore(git-actions): update workflow to include feat/masthead-v2-de (#9915)
  .github/workflows/ci-check.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-integration.yml
  .github/workflows/e2e-tests.yml
Due: none

feat(masthead-v2): fix left nav rendering
  packages/web-components/src/components/masthead/masthead-composite.ts
  packages/web-components/src/components/masthead/masthead.scss
Due: prettier --write, yarn lint:license:staged, stylelint '**/*.scss' --config ./packages/stylelint-config-ibmdotcom

feat(masthead-v2): temporarily remove selected logic
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged

feat(masthead-v2): fix TypeScript errors
  packages/web-components/src/components/masthead/masthead-composite.ts
Due: prettier --write, yarn lint:license:staged

fix(masthead): update logo url protocol (#9914)
  carbon-web-components/packages/carbon-web-components/src/components/dropdown/dropdown.ts
  carbon-web-components/packages/carbon-web-components/src/components/tile/selectable-tile.ts
  carbon-web-components/packages/carbon-web-components/src/components/tooltip/tooltip.ts
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/iframe.html
  canary/carbon-web-components/main.3824123f.iframe.bundle.js
  canary/carbon-web-components/main.3824123f.iframe.bundle.js.LICENSE.txt
  canary/carbon-web-components/main.3824123f.iframe.bundle.js.map
  canary/carbon-web-components/main.5eb3b809.iframe.bundle.js
  canary/carbon-web-components/main.5eb3b809.iframe.bundle.js.map
  canary/carbon-web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy Web Components canary to GitHub Pages
  canary/web-components-experimental/iframe.html
  canary/web-components-experimental/main~7abc9d19.4485099f.iframe.bundle.js
  canary/web-components-experimental/main~7abc9d19.58a4d5ec.iframe.bundle.js
  canary/web-components-experimental/main~7abc9d19.58a4d5ec.iframe.bundle.js.LICENSE.txt
  canary/web-components-experimental/project.json
  canary/web-components-react/iframe.html
  canary/web-components-react/main~7abc9d19.0638268e.iframe.bundle.js
  canary/web-components-react/main~7abc9d19.6cb5d1af.iframe.bundle.js
  canary/web-components-react/main~7abc9d19.6cb5d1af.iframe.bundle.js.LICENSE.txt
  canary/web-components-react/project.json
  canary/web-components-rtl/iframe.html
  canary/web-components-rtl/main~7abc9d19.4485099f.iframe.bundle.js
  canary/web-components-rtl/main~7abc9d19.58a4d5ec.iframe.bundle.js
  canary/web-components-rtl/main~7abc9d19.58a4d5ec.iframe.bundle.js.LICENSE.txt
  canary/web-components-rtl/project.json
  canary/web-components/iframe.html
  canary/web-components/main~7abc9d19.4485099f.iframe.bundle.js
  canary/web-components/main~7abc9d19.58a4d5ec.iframe.bundle.js
  canary/web-components/main~7abc9d19.58a4d5ec.iframe.bundle.js.LICENSE.txt
  canary/web-components/project.json
Due: prettier --write, yarn lint:license:staged

chore(deploy): deploy React canary to GitHub Pages
  canary/react-experimental/iframe.html
  canary/react-experimental/main~ad45398f.920dce61.iframe.bundle.js
  canary/react-experimental/main~ad45398f.920dce61.iframe.bundle.js.LICENSE.txt
  canary/react-experimental/main~ad45398f.bab28d53.iframe.bundle.js
  canary/react-experimental/project.json
  canary/react-rtl/iframe.html
  canary/react-rtl/main~ad45398f.920dce61.iframe.bundle.js
  canary/react-rtl/main~ad45398f.920dce61.iframe.bundle.js.LICENSE.txt
  canary/react-rtl/main~ad45398f.bab28d53.iframe.bundle.js
  canary/react-rtl/project.json
  canary/react/iframe.html
  canary/react/main~25bf6133.32f33cfc.iframe.bundle.js
  canary/react/main~25bf6133.81cc5d3e.iframe.bundle.js
  canary/react/project.json
Due: prettier --write, yarn lint:license:staged

chore(files): remove unused log file (#9913)
  packages/web-components/percyLogs.txt
Due: none

chore(deploy): deploy Carbon web components canary to GitHub Pages
  canary/carbon-web-components/project.json
Due: none

fix(back-to-top): add story for back-to-top to show height change bug
  packages/web-components/src/components/back-to-top/__stories__/back-to-top.stories.ts
  packages/web-components/src/components/back-to-top/__stories__/data/content.ts
Due: prettier --write, yarn lint:license:staged

fix(back-to-top): rename _observeResizeBody method
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged

fix(back-to-top): trigger manage visibility on body height changes
  packages/web-components/src/components/back-to-top/back-to-top.ts
Due: prettier --write, yarn lint:license:staged
